.doanh-thu-child {
  position: absolute;
  top: 110px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 332px;
  height: 970px;
}
.wallpaper-4-icon16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-child10 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.doanh-thu-item,
.wallpaper-412 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.doanh-thu-item {
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 116px;
}
.profile-icon12 {
  position: absolute;
  top: 34px;
  left: 1818px;
  width: 62px;
  height: 62px;
}
.doanh-thu-child1,
.doanh-thu-child2,
.doanh-thu-inner {
  position: absolute;
  top: 22px;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.doanh-thu-child1,
.doanh-thu-child2 {
  top: 138px;
}
.doanh-thu-child2 {
  top: 243px;
}
.doanh-thu-child3 {
  top: 340px;
}
.doanh-thu-child3,
.doanh-thu-child4,
.doanh-thu-child5 {
  position: absolute;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.doanh-thu-child4 {
  top: 443px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.doanh-thu-child5 {
  top: 543px;
}
.lch-s13,
.nh-ngh-hin14,
.qun-l-doanh12,
.qun-l-khch15,
.qun-l-phng17,
.trang-ch15 {
  position: absolute;
  left: 35px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.nh-ngh-hin14 {
  top: 23px;
  display: flex;
  align-items: center;
  width: 280px;
  height: 68px;
}
.lch-s13,
.qun-l-doanh12,
.qun-l-khch15,
.qun-l-phng17,
.trang-ch15 {
  top: 160px;
}
.lch-s13,
.qun-l-doanh12,
.qun-l-khch15,
.qun-l-phng17 {
  top: 262px;
}
.lch-s13,
.qun-l-doanh12,
.qun-l-khch15 {
  top: 363px;
  font-size: var(--font-size-3xl);
}
.lch-s13,
.qun-l-doanh12 {
  top: 465px;
}
.lch-s13 {
  top: 562px;
  cursor: pointer;
}
.qun-l-doanh13 {
  position: absolute;
  top: 82px;
  left: 356px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
}
.group-child36 {
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
}
.group-child36,
.group-wrapper261,
.group-wrapper262,
.t-ngy3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1035px;
  height: 69.13px;
}
.group-wrapper261,
.t-ngy3 {
  top: 2.61px;
  left: 18px;
}
.t-ngy3 {
  top: 22.77px;
  left: 40px;
  display: inline-block;
  width: 117px;
  height: 28.8px;
}
.n-ngy-wrapper1,
.n-ngy3 {
  position: absolute;
  width: 112px;
  height: 28.8px;
}
.n-ngy3 {
  top: 0;
  left: 0;
  display: inline-block;
}
.n-ngy-wrapper1 {
  top: 22.77px;
  left: 440px;
}
.room-types-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-palevioletred-100);
}
.all6 {
  position: absolute;
  top: 23.81%;
  left: 9.9%;
  display: none;
}
.material-symbolsarrow-drop-do-icon6 {
  position: absolute;
  height: 57.14%;
  width: 23.76%;
  top: 21.43%;
  right: 11.88%;
  bottom: 21.43%;
  left: 64.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.room-types6 {
  position: absolute;
  top: 17.01px;
  left: 157px;
  width: 223px;
  height: 40.33px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.frame-child218,
.frame-child219,
.frame-child220 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child218 {
  height: 50.41%;
  width: 26.67%;
  top: 21.26%;
  right: 4.25%;
  bottom: 28.33%;
  left: 69.08%;
  border-radius: var(--br-8xs);
}
.frame-child219,
.frame-child220 {
  height: 36%;
  width: 3.22%;
  top: 28.46%;
  right: 55.87%;
  bottom: 35.53%;
  left: 40.91%;
}
.frame-child220 {
  right: 5.4%;
  left: 91.39%;
}
.ddmmyyyy8 {
  display: inline-block;
}
.ddmmyyyy-container,
.ddmmyyyy8,
.ddmmyyyy9,
.group-wrapper275 {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 28.8px;
}
.ddmmyyyy9,
.group-wrapper275 {
  top: 22.77px;
  left: 168px;
}
.ddmmyyyy9 {
  left: 592px;
  display: inline-block;
}
.group-parent3 {
  position: absolute;
  top: 138px;
  left: 332px;
  width: 836px;
  height: 80px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.doanh-thu-child6 {
  position: absolute;
  top: 210px;
  left: 1773px;
  border-radius: var(--br-3xs);
  background-color: #de4887;
  width: 201px;
  height: 72px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.xc-nhn1 {
  position: absolute;
  top: 160px;
  left: 1626px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  display: inline-block;
  width: 125px;
  height: 32px;
}
.frame-icon {
  position: absolute;
  top: 612px;
  left: 603px;
  width: 602px;
  height: 3px;
  overflow: hidden;
}
.doanh-thu-child7 {
  position: absolute;
  top: 610.82px;
  left: 472px;
  width: 1313.5px;
  height: 7.36px;
}
.div164,
.div165,
.div166,
.div167 {
  position: absolute;
  top: 624px;
  left: 472px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 83px;
  height: 20px;
}
.div165,
.div166,
.div167 {
  left: 786px;
}
.div166,
.div167 {
  left: 1093px;
}
.div167 {
  left: 1556px;
}
.doanh-thu-child8 {
  position: absolute;
  top: 300.03px;
  left: 465.54px;
  width: 325.32px;
  height: 245.14px;
}
.doanh-thu-child9 {
  position: absolute;
  top: 300.2px;
  left: 779.84px;
  width: 345.67px;
  height: 136.67px;
}
.doanh-thu-child10 {
  position: absolute;
  top: 323.18px;
  left: 1114.56px;
  width: 471.67px;
  height: 113.67px;
}
.doanh-thu-child11,
.line-div {
  position: absolute;
  top: 262px;
  left: 471px;
  width: 2px;
  height: 349px;
}
.line-div {
  top: 261.5px;
  left: 1580.5px;
  border-right: 1px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  width: 1px;
  height: 352px;
}
.div168,
.div169,
.div170 {
  position: absolute;
  top: 282px;
  left: 750px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 134px;
  height: 23px;
}
.div169,
.div170 {
  top: 386px;
  left: 1096px;
  width: 89px;
  height: 16px;
}
.div170 {
  top: 299px;
  left: 1512px;
  width: 81px;
  height: 14px;
}
.doanh-thu-child12 {
  position: absolute;
  top: 644px;
  left: 474px;
  background-color: var(--color-red);
  width: 19px;
  height: 19px;
}
.thu-nhp {
  position: absolute;
  top: 643px;
  left: 503px;
  display: inline-block;
  width: 104px;
  height: 17px;
}
.doanh-thu-child13 {
  position: absolute;
  top: 684px;
  left: 472px;
  border-radius: var(--br-mini);
  background-color: var(--color-pink);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1349px;
  height: 74px;
}
.ddmmyyyy10,
.khch-hng,
.ni-dung,
.thu-nhp1 {
  position: absolute;
  top: 707px;
  left: 642px;
  display: inline-block;
  width: 186px;
  height: 22px;
}
.khch-hng,
.ni-dung,
.thu-nhp1 {
  top: 708px;
  left: 1420px;
  width: 139px;
  height: 26px;
}
.khch-hng,
.ni-dung {
  left: 924px;
  width: 163px;
}
.ni-dung {
  left: 1206px;
}
.doanh-thu-child14,
.doanh-thu-child15 {
  position: absolute;
  top: 761px;
  left: 472px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-400);
  width: 1349px;
  height: 72px;
}
.doanh-thu-child15 {
  top: 913px;
}
.doanh-thu-child16,
.doanh-thu-child17,
.doanh-thu-child18 {
  position: absolute;
  left: 470px;
  border-radius: var(--br-3xs);
  width: 1351px;
  height: 72px;
}
.doanh-thu-child16 {
  top: 837px;
  background-color: var(--color-snow-200);
}
.doanh-thu-child17,
.doanh-thu-child18 {
  top: 988px;
}
.doanh-thu-child18 {
  top: 1102.5px;
  width: 1307px;
}
.stt6 {
  position: absolute;
  top: 708px;
  left: 502px;
  display: inline-block;
  width: 56px;
  height: 13px;
}
.div171,
.div172,
.div173,
.div174,
.div175,
.div176,
.div177,
.div178 {
  position: absolute;
  top: 783px;
  left: 497px;
  display: inline-block;
  width: 58px;
  height: 28px;
}
.div172,
.div173,
.div174,
.div175,
.div176,
.div177,
.div178 {
  top: 859px;
}
.div173,
.div174,
.div175,
.div176,
.div177,
.div178 {
  top: 939px;
}
.div174,
.div175,
.div176,
.div177,
.div178 {
  top: 1010px;
}
.div175,
.div176,
.div177,
.div178 {
  top: 783px;
  left: 644px;
  width: 154px;
}
.div176,
.div177,
.div178 {
  top: 859px;
  left: 642px;
}
.div177,
.div178 {
  top: 939px;
}
.div178 {
  top: 1010px;
}
.bi-ngc-dung3,
.nguyn-th-nhn3,
.nguyn-vn-v4,
.phan-b-hunh3 {
  position: absolute;
  top: 781px;
  left: 924px;
  display: inline-block;
  width: 167px;
  height: 16px;
}
.nguyn-th-nhn3,
.nguyn-vn-v4,
.phan-b-hunh3 {
  top: 859px;
  width: 186px;
  height: 20px;
}
.nguyn-vn-v4,
.phan-b-hunh3 {
  top: 939px;
  width: 167px;
}
.phan-b-hunh3 {
  top: 1010px;
}
.div179,
.div180,
.div181,
.div182,
.div183,
.div184,
.div185,
.div186 {
  position: absolute;
  top: 783px;
  left: 1216px;
  display: inline-block;
  width: 84px;
  height: 29px;
}
.div180,
.div181,
.div182,
.div183,
.div184,
.div185,
.div186 {
  top: 859px;
}
.div181,
.div182,
.div183,
.div184,
.div185,
.div186 {
  top: 939px;
}
.div182,
.div183,
.div184,
.div185,
.div186 {
  top: 1009px;
}
.div183,
.div184,
.div185,
.div186 {
  top: 786px;
  left: 1433px;
  width: 113px;
  height: 24px;
}
.div184,
.div185,
.div186 {
  top: 859px;
}
.div185,
.div186 {
  top: 939px;
  left: 1432px;
}
.div186 {
  top: 1010px;
  left: 1433px;
}
.doanh-thu-child19 {
  position: absolute;
  top: 141px;
  left: 1190px;
  background-color: var(--color-palevioletred-200);
  width: 299px;
  height: 66px;
}
.biu-din-thng {
  position: absolute;
  top: 157px;
  left: 1225px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  display: inline-block;
  width: 251px;
  height: 35px;
}
.doanh-thu-child20,
.doanh-thu-child21,
.doanh-thu-child22 {
  position: absolute;
  top: 293px;
  left: 1230px;
  border-radius: var(--br-8xs);
  width: 219px;
  height: 31px;
}
.doanh-thu-child21,
.doanh-thu-child22 {
  top: 255px;
}
.doanh-thu-child22 {
  top: 217px;
}
.ngy,
.nm,
.thng {
  position: absolute;
  top: 293px;
  left: 1303px;
  font-size: var(--font-size-5xl);
  color: var(--color-palevioletred-100);
  display: inline-block;
  width: 117px;
  height: 25px;
}
.ngy,
.thng {
  top: 255px;
}
.ngy {
  top: 217px;
}
.doanh-thu-child23,
.group-child37 {
  position: absolute;
  top: 171.75px;
  left: 1450.34px;
  width: 20px;
  height: 15px;
}
.group-child37 {
  top: 0;
  left: 277.15px;
  width: 101.92px;
  height: 57.47px;
}
.group-child38,
.group-child39 {
  position: absolute;
  border-radius: var(--br-31xl);
  width: 322.53px;
}
.group-child38 {
  top: 18.68px;
  left: 67.7px;
  background-color: var(--color-palevioletred-100);
  height: 208.32px;
}
.group-child39 {
  top: 51px;
  left: 74.7px;
  height: 32.33px;
}
.div187,
.div188,
.div189,
.thng-1-nm {
  position: absolute;
  display: inline-block;
  height: 25.86px;
}
.thng-1-nm {
  top: 25.14px;
  left: 0;
  font-weight: 600;
  width: 481px;
}
.div187,
.div188,
.div189 {
  top: 196.11px;
  left: 83.08px;
  width: 42.58px;
}
.div188,
.div189 {
  top: 170.25px;
}
.div189 {
  top: 144.39px;
}
.div190,
.div191,
.div192,
.div193,
.div194,
.div195,
.div196,
.div197,
.div198,
.div199,
.div200 {
  position: absolute;
  top: 170.25px;
  left: 340.68px;
  display: inline-block;
  width: 42.58px;
  height: 25.86px;
}
.div191,
.div192,
.div193,
.div194,
.div195,
.div196,
.div197,
.div198,
.div199,
.div200 {
  left: 255.51px;
}
.div192,
.div193,
.div194,
.div195,
.div196,
.div197,
.div198,
.div199,
.div200 {
  left: 298.09px;
}
.div193,
.div194,
.div195,
.div196,
.div197,
.div198,
.div199,
.div200 {
  top: 93.41px;
  left: 127.38px;
}
.div194,
.div195,
.div196,
.div197,
.div198,
.div199,
.div200 {
  left: 169.24px;
}
.div195,
.div196,
.div197,
.div198,
.div199,
.div200 {
  left: 211.11px;
}
.div196,
.div197,
.div198,
.div199,
.div200 {
  top: 170.25px;
  left: 212.92px;
}
.div197,
.div198,
.div199,
.div200 {
  left: 170.34px;
}
.div198,
.div199,
.div200 {
  top: 196.11px;
  left: 125.66px;
}
.div199,
.div200 {
  top: 170.25px;
}
.div200 {
  top: 144.39px;
  left: 340.68px;
}
.div201,
.div202,
.div203,
.div204,
.div205,
.div206,
.div207,
.div208,
.div209,
.div210,
.t21 {
  position: absolute;
  top: 144.39px;
  left: 298.09px;
  display: inline-block;
  width: 42.58px;
  height: 25.86px;
}
.div202,
.div203,
.div204,
.div205,
.div206,
.div207,
.div208,
.div209,
.div210,
.t21 {
  left: 255.51px;
}
.div203,
.div204,
.div205,
.div206,
.div207,
.div208,
.div209,
.div210,
.t21 {
  left: 212.92px;
}
.div204,
.div205,
.div206,
.div207,
.div208,
.div209,
.div210,
.t21 {
  left: 170.34px;
}
.div205,
.div206,
.div207,
.div208,
.div209,
.div210,
.t21 {
  left: 127.75px;
}
.div206,
.div207,
.div208,
.div209,
.div210,
.t21 {
  top: 118.53px;
  left: 340.68px;
}
.div207,
.div208,
.div209,
.div210,
.t21 {
  left: 298.09px;
}
.div208,
.div209,
.div210,
.t21 {
  left: 255.51px;
}
.div209,
.div210,
.t21 {
  left: 212.92px;
}
.div210,
.t21 {
  left: 170.34px;
}
.t21 {
  top: 57.47px;
  left: 83.08px;
  font-weight: 600;
}
.cn1,
.div211,
.div212,
.div213,
.div214,
.div215,
.t31,
.t41,
.t51,
.t61,
.t71 {
  position: absolute;
  top: 118.53px;
  left: 127.75px;
  display: inline-block;
  width: 42.58px;
  height: 25.86px;
}
.cn1,
.div212,
.div213,
.div214,
.div215,
.t31,
.t41,
.t51,
.t61,
.t71 {
  left: 83.08px;
}
.cn1,
.div213,
.div214,
.div215,
.t31,
.t41,
.t51,
.t61,
.t71 {
  top: 92.67px;
  left: 340.68px;
}
.cn1,
.div214,
.div215,
.t31,
.t41,
.t51,
.t61,
.t71 {
  left: 298.09px;
}
.cn1,
.div215,
.t31,
.t41,
.t51,
.t61,
.t71 {
  left: 255.51px;
}
.cn1,
.t31,
.t41,
.t51,
.t61,
.t71 {
  top: 57.47px;
  left: 125.66px;
  font-weight: 600;
}
.cn1,
.t41,
.t51,
.t61,
.t71 {
  left: 168.25px;
}
.cn1,
.t51,
.t61,
.t71 {
  left: 212.92px;
}
.cn1,
.t61,
.t71 {
  left: 255.51px;
}
.cn1,
.t71 {
  left: 298.09px;
}
.cn1 {
  left: 340.68px;
}
.group-child40,
.group-child41,
.group-child42 {
  position: absolute;
  top: 25.14px;
  left: 92.85px;
  width: 16.75px;
  height: 22.27px;
}
.group-child41,
.group-child42 {
  left: 362.32px;
}
.group-child42 {
  top: 94.26px;
  left: 93.53px;
  background-color: var(--color-gainsboro);
  width: 24.43px;
  height: 25.14px;
}
.div216 {
  position: absolute;
  top: 93.41px;
  left: 84.62px;
  display: inline-block;
  width: 42.58px;
  height: 25.86px;
}
.vector-group {
  position: absolute;
  top: 196px;
  left: 360px;
  width: 481px;
  height: 227px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.group-child43 {
  position: absolute;
  top: 0;
  left: 277.15px;
  width: 101.92px;
  height: 60.5px;
}
.group-child44,
.group-child45 {
  position: absolute;
  border-radius: var(--br-31xl);
  width: 322.53px;
}
.group-child44 {
  top: 19.67px;
  left: 67.7px;
  background-color: var(--color-palevioletred-100);
  height: 219.33px;
}
.group-child45 {
  top: 53.7px;
  left: 74.7px;
  height: 34.03px;
}
.div217,
.div218,
.thng-4-nm {
  position: absolute;
  display: inline-block;
  height: 27.23px;
}
.thng-4-nm {
  top: 26.47px;
  left: 0;
  font-weight: 600;
  width: 481px;
}
.div217,
.div218 {
  top: 179.25px;
  left: 83.08px;
  width: 42.58px;
}
.div218 {
  top: 152.02px;
}
.div219,
.div220,
.div221,
.div222,
.div223,
.div224,
.div225,
.div226,
.div227,
.div228,
.div229 {
  position: absolute;
  top: 179.25px;
  left: 340.68px;
  display: inline-block;
  width: 42.58px;
  height: 27.23px;
}
.div220,
.div221,
.div222,
.div223,
.div224,
.div225,
.div226,
.div227,
.div228,
.div229 {
  left: 255.51px;
}
.div221,
.div222,
.div223,
.div224,
.div225,
.div226,
.div227,
.div228,
.div229 {
  left: 298.09px;
}
.div222,
.div223,
.div224,
.div225,
.div226,
.div227,
.div228,
.div229 {
  top: 98.35px;
  left: 127.38px;
}
.div223,
.div224,
.div225,
.div226,
.div227,
.div228,
.div229 {
  left: 169.24px;
}
.div224,
.div225,
.div226,
.div227,
.div228,
.div229 {
  left: 211.11px;
}
.div225,
.div226,
.div227,
.div228,
.div229 {
  top: 179.25px;
  left: 212.92px;
}
.div226,
.div227,
.div228,
.div229 {
  left: 170.34px;
}
.div227,
.div228,
.div229 {
  top: 206.47px;
  left: 125.66px;
}
.div228,
.div229 {
  top: 179.25px;
}
.div229 {
  top: 152.02px;
  left: 340.68px;
}
.div230,
.div231,
.div232,
.div233,
.div234,
.div235,
.div236,
.div237,
.div238,
.div239,
.t22 {
  position: absolute;
  top: 152.02px;
  left: 298.09px;
  display: inline-block;
  width: 42.58px;
  height: 27.23px;
}
.div231,
.div232,
.div233,
.div234,
.div235,
.div236,
.div237,
.div238,
.div239,
.t22 {
  left: 255.51px;
}
.div232,
.div233,
.div234,
.div235,
.div236,
.div237,
.div238,
.div239,
.t22 {
  left: 212.92px;
}
.div233,
.div234,
.div235,
.div236,
.div237,
.div238,
.div239,
.t22 {
  left: 170.34px;
}
.div234,
.div235,
.div236,
.div237,
.div238,
.div239,
.t22 {
  left: 127.75px;
}
.div235,
.div236,
.div237,
.div238,
.div239,
.t22 {
  top: 124.79px;
  left: 340.68px;
}
.div236,
.div237,
.div238,
.div239,
.t22 {
  left: 298.09px;
}
.div237,
.div238,
.div239,
.t22 {
  left: 255.51px;
}
.div238,
.div239,
.t22 {
  left: 212.92px;
}
.div239,
.t22 {
  left: 170.34px;
}
.t22 {
  top: 60.5px;
  left: 83.08px;
  font-weight: 600;
}
.cn2,
.div240,
.div241,
.div242,
.div243,
.div244,
.t32,
.t42,
.t52,
.t62,
.t72 {
  position: absolute;
  top: 124.79px;
  left: 127.75px;
  display: inline-block;
  width: 42.58px;
  height: 27.23px;
}
.cn2,
.div241,
.div242,
.div243,
.div244,
.t32,
.t42,
.t52,
.t62,
.t72 {
  left: 83.08px;
}
.cn2,
.div242,
.div243,
.div244,
.t32,
.t42,
.t52,
.t62,
.t72 {
  top: 97.56px;
  left: 340.68px;
}
.cn2,
.div243,
.div244,
.t32,
.t42,
.t52,
.t62,
.t72 {
  left: 298.09px;
}
.cn2,
.div244,
.t32,
.t42,
.t52,
.t62,
.t72 {
  left: 255.51px;
}
.cn2,
.t32,
.t42,
.t52,
.t62,
.t72 {
  top: 60.5px;
  left: 125.66px;
  font-weight: 600;
}
.cn2,
.t42,
.t52,
.t62,
.t72 {
  left: 168.25px;
}
.cn2,
.t52,
.t62,
.t72 {
  left: 212.92px;
}
.cn2,
.t62,
.t72 {
  left: 255.51px;
}
.cn2,
.t72 {
  left: 298.09px;
}
.cn2 {
  left: 340.68px;
}
.div245,
.group-child46,
.group-child47 {
  position: absolute;
  top: 26.47px;
  left: 92.85px;
  width: 16.75px;
  height: 23.45px;
}
.div245,
.group-child47 {
  left: 362.32px;
}
.div245 {
  top: 101px;
  left: 85px;
  display: inline-block;
  width: 42.58px;
  height: 27.23px;
}
.vector-container {
  position: absolute;
  top: 196px;
  left: 786px;
  width: 481px;
  height: 239px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.doanh-thu-child24 {
  position: absolute;
  top: 408px;
  left: 878px;
  background-color: var(--color-gainsboro);
  width: 23px;
  height: 22px;
}
.div246,
.m-ha-n2 {
  position: absolute;
  display: inline-block;
}
.div246 {
  top: 403px;
  left: 871px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  text-align: center;
  width: 39px;
  height: 27px;
}
.m-ha-n2 {
  top: 708px;
  left: 1638px;
  width: 139px;
  height: 26px;
}
.hd10503004231981,
.hd10503004231991,
.hd10503004232001,
.hd10503004232012 {
  position: absolute;
  top: 1011px;
  left: 1610px;
  text-decoration: underline;
  display: inline-block;
  width: 187px;
  height: 24px;
}
.hd10503004231991,
.hd10503004232001,
.hd10503004232012 {
  top: 935px;
  width: 195px;
}
.hd10503004232001,
.hd10503004232012 {
  top: 783px;
  width: 187px;
  height: 29px;
}
.hd10503004232001 {
  top: 861px;
  height: 24px;
}
.doanh-thu {
  position: relative;
  background-color: var(--color-plum-100);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-lexend);
}
