.trang-ch-qun-l-phng-child34 {
  position: absolute;
  top: 110px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 332px;
  height: 970px;
}
.wallpaper-4-icon19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-child13 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.trang-ch-qun-l-phng-child35,
.wallpaper-415 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.trang-ch-qun-l-phng-child35 {
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 2101px;
  height: 116px;
}
.profile-icon15 {
  position: absolute;
  top: 34px;
  left: 1818px;
  width: 62px;
  height: 62px;
}
.trang-ch-qun-l-phng-child36 {
  position: absolute;
  top: 22px;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.nh-ngh-hin17 {
  position: absolute;
  top: 26px;
  left: 35px;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 280px;
  height: 68px;
}
.trang-ch-qun-l-phng-child37 {
  position: absolute;
  top: 148px;
  left: 15px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
  cursor: pointer;
}
.trang-ch-qun-l-phng-child38,
.trang-ch-qun-l-phng-child39,
.trang-ch-qun-l-phng-child40,
.trang-ch-qun-l-phng-child41 {
  position: absolute;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-ch-qun-l-phng-child38 {
  top: 243px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.trang-ch-qun-l-phng-child39,
.trang-ch-qun-l-phng-child40,
.trang-ch-qun-l-phng-child41 {
  top: 346px;
  cursor: pointer;
}
.trang-ch-qun-l-phng-child40,
.trang-ch-qun-l-phng-child41 {
  top: 446px;
}
.trang-ch-qun-l-phng-child41 {
  top: 542px;
  left: 15px;
}
.qun-l-phng21,
.trang-ch18 {
  position: absolute;
  top: 160px;
  left: 35px;
  font-size: var(--font-size-5xl);
}
.qun-l-phng21 {
  top: 262px;
}
.lch-s16,
.qun-l-doanh17,
.qun-l-khch18,
.qun-l-phng22 {
  position: absolute;
  top: 363px;
  left: 35px;
  font-size: var(--font-size-3xl);
}
.lch-s16,
.qun-l-doanh17,
.qun-l-phng22 {
  top: 465px;
}
.lch-s16,
.qun-l-phng22 {
  top: 562px;
}
.qun-l-phng22 {
  top: 64px;
  left: 375px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
}
.frame-child276 {
  position: absolute;
  top: 11px;
  left: 33px;
  border-radius: var(--br-26xl);
  background-color: var(--color-limegreen);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 247px;
  height: 68px;
}
.frame-child277 {
  position: absolute;
  top: -25px;
  left: 30px;
  width: 250px;
  height: 81px;
  overflow: hidden;
}
.phng-trng30 {
  position: absolute;
  top: 32px;
  left: 56px;
  display: inline-block;
  width: 254px;
  height: 47px;
}
.rectangle-parent138 {
  position: absolute;
  top: 138px;
  left: 338px;
  width: 283px;
  height: 89px;
  overflow: hidden;
}
.frame-child278 {
  position: absolute;
  top: 10px;
  left: 7px;
  border-radius: var(--br-26xl);
  background-color: var(--color-red);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 234px;
  height: 68px;
}
.ang5 {
  position: absolute;
  top: 27.61px;
  left: 63.23px;
  display: inline-block;
  width: 175.35px;
  height: 44.58px;
}
.frame-child279,
.rectangle-parent139 {
  position: absolute;
  top: 52px;
  left: 337px;
  width: 300px;
  height: 92px;
  overflow: hidden;
}
.rectangle-parent139 {
  top: 138px;
  left: 695px;
  width: 390px;
}
.frame-child280 {
  position: absolute;
  top: 11px;
  left: 33px;
  border-radius: var(--br-26xl);
  background-color: var(--color-orange);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 247px;
  height: 68px;
}
.frame-child281 {
  position: absolute;
  top: -25px;
  left: -18px;
  width: 250px;
  height: 81px;
  overflow: hidden;
}
.t-35 {
  position: absolute;
  top: 32px;
  left: 88px;
  display: inline-block;
  width: 254px;
  height: 47px;
}
.rectangle-parent140 {
  position: absolute;
  top: 138px;
  left: 1012px;
  width: 283px;
  height: 89px;
  overflow: hidden;
}
.frame-child282,
.frame-child283 {
  position: absolute;
  border-radius: var(--br-6xs);
}
.frame-child282 {
  top: 14px;
  left: 15px;
  background-color: var(--color-limegreen);
  width: 95px;
  height: 109px;
}
.frame-child283 {
  top: 15px;
  left: 110px;
  width: 278px;
  height: 108px;
}
.phng-trng31 {
  position: absolute;
  top: 55px;
  left: 119px;
  line-height: 25px;
  display: inline-block;
  width: 194px;
  height: 27px;
}
.n159 {
  line-height: 25px;
  color: var(--color-black);
}
.n158 {
  margin: 0;
}
.n-3035 {
  position: absolute;
  top: 42px;
  left: 37px;
  font-size: 23.78px;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-wrapper24,
.rectangle-parent141 {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.frame-wrapper24 {
  top: 16px;
  left: 4px;
  border-radius: var(--br-3xs);
  width: 396px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.frame-child284 {
  position: absolute;
  top: 21px;
  left: 23px;
  background-color: var(--color-orange);
  width: 95px;
  height: 109px;
}
.div293,
.frame-child285,
.n-10330 {
  position: absolute;
  top: 21px;
  left: 113px;
  width: 175px;
  height: 109px;
}
.div293,
.n-10330 {
  top: 39px;
  left: 45px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.div293 {
  top: 36px;
  left: 129px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  width: 159px;
  height: 53px;
}
.rectangle-parent142 {
  position: absolute;
  top: 12px;
  left: 938px;
  width: 345px;
  height: 146px;
  overflow: hidden;
}
.frame-child286,
.frame-child287 {
  position: absolute;
  top: 14px;
  height: 109px;
}
.frame-child286 {
  left: 7px;
  border-radius: var(--br-6xs);
  background-color: var(--color-red);
  width: 103px;
}
.frame-child287 {
  left: 110px;
  border-radius: var(--br-3xs);
  width: 269px;
}
.div294,
.i-3045 {
  position: absolute;
  top: 56px;
  left: 124px;
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.i-3045 {
  top: 39px;
  left: 22px;
  font-size: 23.78px;
  width: 73px;
  height: 66px;
}
.frame-wrapper25,
.rectangle-parent143 {
  position: absolute;
  top: 0;
  left: 18px;
  width: 1436px;
  height: 139px;
  overflow: hidden;
}
.frame-wrapper25 {
  top: 8px;
  left: 39px;
  border-radius: var(--br-3xs);
  width: 397px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-child292,
.frame-child293 {
  position: absolute;
  top: 14px;
  border-radius: var(--br-6xs);
  height: 109px;
}
.frame-child292 {
  left: 15px;
  background-color: var(--color-red);
  width: 95px;
}
.frame-child293 {
  left: 110px;
  width: 318px;
}
.div297,
.n-10115 {
  position: absolute;
  top: 32px;
  left: 37px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.div297 {
  top: 56px;
  left: 124px;
  line-height: 25px;
  color: var(--color-black);
  width: 313px;
  height: 49px;
}
.frame-wrapper26 {
  position: absolute;
  top: 12px;
  left: 34px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
}
.frame-parent34,
.frame-parent35,
.frame-parent36,
.frame-parent37 {
  position: absolute;
  top: 0;
  left: 368px;
  width: 522px;
  height: 147px;
  overflow: hidden;
}
.frame-parent34,
.frame-parent35,
.frame-parent36 {
  left: 464px;
  width: 396px;
}
.frame-parent34,
.frame-parent35 {
  top: 13px;
  left: 366px;
  width: 436px;
  height: 129px;
}
.frame-parent34 {
  top: 835px;
  left: 317px;
  width: 822px;
  height: 164px;
}
.p210 {
  margin: 0;
  color: var(--color-white);
}
.frame-child301 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 110px;
}
.div301 {
  position: absolute;
  top: 49px;
  left: 131px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.rectangle-parent150,
.trang-ch-qun-l-phng-inner45 {
  position: absolute;
  top: 0;
  left: -13px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner45 {
  top: 693px;
  left: 346px;
  border-radius: var(--br-3xs);
  width: 374px;
  color: var(--color-black);
}
.frame-child303 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 283px;
  height: 109px;
}
.i39 {
  margin: 0;
  line-height: 25px;
}
.phng-trng32 {
  position: absolute;
  top: 53px;
  left: 119px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-limegreen);
  display: inline-block;
  width: 194px;
  height: 27px;
}
.rectangle-parent151,
.trang-ch-qun-l-phng-inner46 {
  position: absolute;
  top: 0;
  left: -13px;
  width: 446px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner46 {
  top: 856px;
  left: 1137px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 121px;
  color: var(--color-black);
}
.frame-child305 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 279px;
  height: 109px;
}
.phng-trng33 {
  position: absolute;
  top: 48px;
  left: 115px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-limegreen);
  display: inline-block;
  width: 313px;
  height: 49px;
}
.trang-ch-qun-l-phng-inner47 {
  position: absolute;
  top: 691px;
  left: 743px;
  border-radius: var(--br-3xs);
  width: 373px;
  height: 123px;
  overflow: hidden;
  color: var(--color-black);
}
.frame-child307 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 282px;
  height: 109px;
}
.div302 {
  position: absolute;
  top: 48px;
  left: 115px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-black);
  display: inline-block;
  width: 313px;
  height: 49px;
}
.trang-ch-qun-l-phng-inner48 {
  position: absolute;
  top: 528px;
  left: 743px;
  border-radius: var(--br-3xs);
  width: 373px;
  height: 128px;
  overflow: hidden;
}
.frame-child308 {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: var(--br-6xs);
  background-color: var(--color-orange);
  width: 95px;
  height: 109px;
}
.div303,
.n-3015 {
  position: absolute;
  display: inline-block;
}
.div303 {
  top: 48px;
  left: 115px;
  line-height: 25px;
  width: 313px;
  height: 49px;
}
.n-3015 {
  top: 39px;
  left: 37px;
  font-size: 23.78px;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.div304,
.trang-ch-qun-l-phng-inner49 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.trang-ch-qun-l-phng-inner49 {
  top: 691px;
  left: 1137px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
  color: var(--color-black);
}
.div304 {
  top: 48px;
  left: 115px;
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.rectangle-parent155,
.trang-ch-qun-l-phng-inner50 {
  position: absolute;
  top: 0;
  left: -14px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner50 {
  top: 693px;
  left: 1536px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 121px;
  color: var(--color-black);
}
.frame-child313 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 272px;
  height: 109px;
}
.rectangle-parent156 {
  position: absolute;
  top: 13px;
  left: -13px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner51,
.trang-ch-qun-l-phng-inner52 {
  position: absolute;
  top: 516px;
  left: 348px;
  border-radius: var(--br-3xs);
  width: 369px;
  height: 165px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.trang-ch-qun-l-phng-inner52 {
  top: 523px;
  left: 1139px;
  width: 463px;
  color: var(--color-black);
}
.n-2035 {
  position: absolute;
  top: 35px;
  left: 37px;
  font-size: 23.78px;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.trang-ch-qun-l-phng-inner53 {
  position: absolute;
  top: 526px;
  left: 1538px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.n-1025 {
  position: absolute;
  top: 32px;
  left: 24px;
  font-size: 23.78px;
  white-space: pre-wrap;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-child320,
.frame-parent39 {
  position: absolute;
  overflow: hidden;
}
.frame-parent39 {
  top: 351px;
  left: 737px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-child320 {
  top: 220px;
  left: 8px;
  width: 103px;
  height: 111px;
}
.frame-child323 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 273px;
  height: 109px;
}
.div307,
.n-10117 {
  position: absolute;
  display: inline-block;
}
.div307 {
  top: 48px;
  left: 115px;
  line-height: 25px;
  width: 250px;
  height: 49px;
}
.n-10117 {
  top: 31px;
  left: 42px;
  font-size: 23.78px;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-wrapper28 {
  position: absolute;
  top: 44px;
  left: 8px;
  border-radius: var(--br-3xs);
  width: 379px;
  height: 165px;
  overflow: hidden;
  cursor: pointer;
}
.frame-parent40 {
  position: absolute;
  top: 309px;
  left: 335px;
  width: 404px;
  height: 231px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.n-10335 {
  position: absolute;
  top: 36px;
  left: 37px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.rectangle-parent161 {
  position: absolute;
  top: -9px;
  left: -15px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner54,
.trang-ch-qun-l-phng-inner55 {
  position: absolute;
  top: 359px;
  left: 1140px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner55 {
  top: 350px;
  left: 1541px;
  color: var(--color-black);
}
.trang-ch-qun-l-phng-child42 {
  position: absolute;
  top: 134px;
  left: 1592px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  border: 3px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 296px;
  height: 112px;
  cursor: pointer;
}
.gi-phng8 {
  position: absolute;
  top: 176px;
  left: 1658px;
  font-size: var(--font-size-11xl);
  line-height: 25px;
  display: inline-block;
  width: 166px;
  height: 35px;
}
.trang-ch-qun-l-phng4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.quanlyphong {
  position: relative;
  width: 100%;
  height: 1322px;
  text-align: left;
  font-size: 23.78px;
  color: var(--color-white);
  font-family: var(--font-lexend);
}
