.trang-ch-qun-l-phng-child7 {
  position: absolute;
  top: 110px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 332px;
  height: 970px;
}
.wallpaper-4-icon11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-child5 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.trang-ch-qun-l-phng-child8,
.wallpaper-47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.trang-ch-qun-l-phng-child8 {
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 2101px;
  height: 116px;
}
.profile-icon7 {
  position: absolute;
  top: 34px;
  left: 1818px;
  width: 62px;
  height: 62px;
}
.trang-ch-qun-l-phng-child9 {
  position: absolute;
  top: 22px;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.nh-ngh-hin9 {
  position: absolute;
  top: 26px;
  left: 35px;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 280px;
  height: 68px;
}
.trang-ch-qun-l-phng-child10 {
  position: absolute;
  top: 148px;
  left: 15px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
  cursor: pointer;
}
.trang-ch-qun-l-phng-child11,
.trang-ch-qun-l-phng-child12,
.trang-ch-qun-l-phng-child13,
.trang-ch-qun-l-phng-child14 {
  position: absolute;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-ch-qun-l-phng-child11 {
  top: 243px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.trang-ch-qun-l-phng-child12,
.trang-ch-qun-l-phng-child13,
.trang-ch-qun-l-phng-child14 {
  top: 346px;
  cursor: pointer;
}
.trang-ch-qun-l-phng-child13,
.trang-ch-qun-l-phng-child14 {
  top: 446px;
}
.trang-ch-qun-l-phng-child14 {
  top: 542px;
  left: 15px;
}
.qun-l-phng9,
.trang-ch10 {
  position: absolute;
  top: 160px;
  left: 35px;
  font-size: var(--font-size-5xl);
}
.qun-l-phng9 {
  top: 262px;
}
.lch-s8,
.qun-l-doanh7,
.qun-l-khch8,
.qun-l-phng10 {
  position: absolute;
  top: 363px;
  left: 35px;
  font-size: var(--font-size-3xl);
}
.lch-s8,
.qun-l-doanh7,
.qun-l-phng10 {
  top: 465px;
}
.lch-s8,
.qun-l-phng10 {
  top: 562px;
}
.qun-l-phng10 {
  top: 64px;
  left: 375px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
}
.frame-child59 {
  position: absolute;
  top: 11px;
  left: 33px;
  border-radius: var(--br-26xl);
  background-color: var(--color-limegreen);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 247px;
  height: 68px;
}
.frame-child60 {
  position: absolute;
  top: -25px;
  left: 30px;
  width: 250px;
  height: 81px;
  overflow: hidden;
}
.phng-trng6 {
  position: absolute;
  top: 32px;
  left: 56px;
  display: inline-block;
  width: 254px;
  height: 47px;
}
.rectangle-parent34 {
  position: absolute;
  top: 138px;
  left: 338px;
  width: 283px;
  height: 89px;
  overflow: hidden;
}
.frame-child61 {
  position: absolute;
  top: 10px;
  left: 7px;
  border-radius: var(--br-26xl);
  background-color: var(--color-red);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 234px;
  height: 68px;
}
.ang1 {
  position: absolute;
  top: 27.61px;
  left: 63.23px;
  display: inline-block;
  width: 175.35px;
  height: 44.58px;
}
.frame-child62,
.rectangle-parent35 {
  position: absolute;
  top: 52px;
  left: 337px;
  width: 300px;
  height: 92px;
  overflow: hidden;
}
.rectangle-parent35 {
  top: 138px;
  left: 695px;
  width: 390px;
}
.frame-child63 {
  position: absolute;
  top: 11px;
  left: 33px;
  border-radius: var(--br-26xl);
  background-color: var(--color-orange);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 247px;
  height: 68px;
}
.frame-child64 {
  position: absolute;
  top: -25px;
  left: -18px;
  width: 250px;
  height: 81px;
  overflow: hidden;
}
.t-31 {
  position: absolute;
  top: 32px;
  left: 88px;
  display: inline-block;
  width: 254px;
  height: 47px;
}
.rectangle-parent36 {
  position: absolute;
  top: 138px;
  left: 1012px;
  width: 283px;
  height: 89px;
  overflow: hidden;
}
.frame-child65,
.frame-child66 {
  position: absolute;
  border-radius: var(--br-6xs);
}
.frame-child65 {
  top: 14px;
  left: 15px;
  background-color: var(--color-limegreen);
  width: 95px;
  height: 109px;
}
.frame-child66 {
  top: 15px;
  left: 110px;
  width: 278px;
  height: 108px;
}
.phng-trng7 {
  position: absolute;
  top: 55px;
  left: 119px;
  line-height: 25px;
  display: inline-block;
  width: 194px;
  height: 27px;
}
.n33 {
  line-height: 25px;
  color: var(--color-black);
}
.n32 {
  margin: 0;
}
.n-3031 {
  position: absolute;
  top: 42px;
  left: 37px;
  font-size: 23.78px;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-wrapper4,
.rectangle-parent37 {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.frame-wrapper4 {
  top: 16px;
  left: 4px;
  border-radius: var(--br-3xs);
  width: 396px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.frame-child67 {
  position: absolute;
  top: 21px;
  left: 23px;
  background-color: var(--color-orange);
  width: 95px;
  height: 109px;
}
.div105,
.frame-child68,
.n-1036 {
  position: absolute;
  top: 21px;
  left: 113px;
  width: 175px;
  height: 109px;
}
.div105,
.n-1036 {
  top: 39px;
  left: 45px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.div105 {
  top: 36px;
  left: 129px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  width: 159px;
  height: 53px;
}
.rectangle-parent38 {
  position: absolute;
  top: 12px;
  left: 938px;
  width: 345px;
  height: 146px;
  overflow: hidden;
}
.frame-child69,
.frame-child70 {
  position: absolute;
  top: 14px;
  height: 109px;
}
.frame-child69 {
  left: 7px;
  border-radius: var(--br-6xs);
  background-color: var(--color-red);
  width: 103px;
}
.frame-child70 {
  left: 110px;
  border-radius: var(--br-3xs);
  width: 269px;
}
.div106,
.i-3041 {
  position: absolute;
  top: 56px;
  left: 124px;
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.i-3041 {
  top: 39px;
  left: 22px;
  font-size: 23.78px;
  width: 73px;
  height: 66px;
}
.frame-wrapper5,
.rectangle-parent39 {
  position: absolute;
  top: 0;
  left: 18px;
  width: 1436px;
  height: 139px;
  overflow: hidden;
}
.frame-wrapper5 {
  top: 8px;
  left: 39px;
  border-radius: var(--br-3xs);
  width: 397px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-child75,
.frame-child76 {
  position: absolute;
  top: 14px;
  border-radius: var(--br-6xs);
  height: 109px;
}
.frame-child75 {
  left: 15px;
  background-color: var(--color-red);
  width: 95px;
}
.frame-child76 {
  left: 110px;
  width: 318px;
}
.div109,
.n-1013 {
  position: absolute;
  top: 32px;
  left: 37px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.div109 {
  top: 56px;
  left: 124px;
  line-height: 25px;
  color: var(--color-black);
  width: 313px;
  height: 49px;
}
.frame-wrapper6 {
  position: absolute;
  top: 12px;
  left: 34px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
}
.frame-parent6,
.frame-parent7,
.frame-parent8,
.frame-parent9 {
  position: absolute;
  top: 0;
  left: 368px;
  width: 522px;
  height: 147px;
  overflow: hidden;
}
.frame-parent6,
.frame-parent7,
.frame-parent8 {
  left: 464px;
  width: 396px;
}
.frame-parent6,
.frame-parent7 {
  top: 13px;
  left: 366px;
  width: 436px;
  height: 129px;
}
.frame-parent6 {
  top: 835px;
  left: 317px;
  width: 822px;
  height: 164px;
}
.p71 {
  margin: 0;
  color: var(--color-white);
}
.frame-child84 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 110px;
}
.div113 {
  position: absolute;
  top: 49px;
  left: 131px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.rectangle-parent46,
.trang-ch-qun-l-phng-inner12 {
  position: absolute;
  top: 0;
  left: -13px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner12 {
  top: 693px;
  left: 346px;
  border-radius: var(--br-3xs);
  width: 374px;
  color: var(--color-black);
}
.frame-child86 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 283px;
  height: 109px;
}
.i9 {
  margin: 0;
  line-height: 25px;
}
.phng-trng8 {
  position: absolute;
  top: 53px;
  left: 119px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-limegreen);
  display: inline-block;
  width: 194px;
  height: 27px;
}
.rectangle-parent47,
.trang-ch-qun-l-phng-inner13 {
  position: absolute;
  top: 0;
  left: -13px;
  width: 446px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner13 {
  top: 856px;
  left: 1137px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 121px;
  color: var(--color-black);
}
.frame-child88 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 279px;
  height: 109px;
}
.phng-trng9 {
  position: absolute;
  top: 48px;
  left: 115px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-limegreen);
  display: inline-block;
  width: 313px;
  height: 49px;
}
.trang-ch-qun-l-phng-inner14 {
  position: absolute;
  top: 691px;
  left: 743px;
  border-radius: var(--br-3xs);
  width: 373px;
  height: 123px;
  overflow: hidden;
  color: var(--color-black);
}
.frame-child90 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 282px;
  height: 109px;
}
.div114 {
  position: absolute;
  top: 48px;
  left: 115px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-black);
  display: inline-block;
  width: 313px;
  height: 49px;
}
.trang-ch-qun-l-phng-inner15 {
  position: absolute;
  top: 528px;
  left: 743px;
  border-radius: var(--br-3xs);
  width: 373px;
  height: 128px;
  overflow: hidden;
}
.frame-child91 {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: var(--br-6xs);
  background-color: var(--color-orange);
  width: 95px;
  height: 109px;
}
.div115,
.n-3011 {
  position: absolute;
  display: inline-block;
}
.div115 {
  top: 48px;
  left: 115px;
  line-height: 25px;
  width: 313px;
  height: 49px;
}
.n-3011 {
  top: 39px;
  left: 37px;
  font-size: 23.78px;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.div116,
.trang-ch-qun-l-phng-inner16 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.trang-ch-qun-l-phng-inner16 {
  top: 691px;
  left: 1137px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
  color: var(--color-black);
}
.div116 {
  top: 48px;
  left: 115px;
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.rectangle-parent51,
.trang-ch-qun-l-phng-inner17 {
  position: absolute;
  top: 0;
  left: -14px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner17 {
  top: 693px;
  left: 1536px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 121px;
  color: var(--color-black);
}
.frame-child96 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 272px;
  height: 109px;
}
.rectangle-parent52 {
  position: absolute;
  top: 13px;
  left: -13px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner18,
.trang-ch-qun-l-phng-inner19 {
  position: absolute;
  top: 516px;
  left: 348px;
  border-radius: var(--br-3xs);
  width: 369px;
  height: 165px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.trang-ch-qun-l-phng-inner19 {
  top: 523px;
  left: 1139px;
  width: 463px;
  color: var(--color-black);
}
.n-2031 {
  position: absolute;
  top: 35px;
  left: 37px;
  font-size: 23.78px;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.trang-ch-qun-l-phng-inner20 {
  position: absolute;
  top: 526px;
  left: 1538px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.n-1021 {
  position: absolute;
  top: 32px;
  left: 24px;
  font-size: 23.78px;
  white-space: pre-wrap;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-child103,
.frame-parent11 {
  position: absolute;
  overflow: hidden;
}
.frame-parent11 {
  top: 351px;
  left: 737px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-child103 {
  top: 220px;
  left: 8px;
  width: 103px;
  height: 111px;
}
.frame-child106 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 273px;
  height: 109px;
}
.div119,
.n-1015 {
  position: absolute;
  display: inline-block;
}
.div119 {
  top: 48px;
  left: 115px;
  line-height: 25px;
  width: 250px;
  height: 49px;
}
.n-1015 {
  top: 31px;
  left: 42px;
  font-size: 23.78px;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-parent12,
.frame-wrapper8 {
  position: absolute;
  overflow: hidden;
}
.frame-wrapper8 {
  top: 44px;
  left: 8px;
  border-radius: var(--br-3xs);
  width: 379px;
  height: 165px;
  cursor: pointer;
}
.frame-parent12 {
  top: 309px;
  left: 335px;
  width: 404px;
  height: 231px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.n-10311 {
  position: absolute;
  top: 36px;
  left: 37px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.rectangle-parent57 {
  position: absolute;
  top: -9px;
  left: -15px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner21,
.trang-ch-qun-l-phng-inner22 {
  position: absolute;
  top: 359px;
  left: 1140px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner22 {
  top: 350px;
  left: 1541px;
  color: var(--color-black);
}
.trang-ch-qun-l-phng-child15 {
  position: absolute;
  top: 134px;
  left: 1592px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  border: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 296px;
  height: 112px;
  cursor: pointer;
}
.gi-phng1 {
  position: absolute;
  top: 176px;
  left: 1658px;
  font-size: var(--font-size-11xl);
  line-height: 25px;
  display: inline-block;
  width: 166px;
  height: 35px;
}
.trang-ch-qun-l-phng1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  opacity: 0.5;
  font-size: 23.78px;
}
.suagiaphong-child {
  position: absolute;
  top: 257px;
  left: 1320px;
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 573px;
  height: 360px;
}
.suagiaphong-item {
  position: absolute;
  top: 537px;
  left: 1579px;
  width: 75px;
  height: 64px;
}
.majesticonsedit-pen-2 {
  position: absolute;
  height: 5.09%;
  width: 3.23%;
  top: 34.91%;
  right: 0.1%;
  bottom: 60%;
  left: 96.67%;
  overflow: hidden;
}
.suagiaphong-child1,
.suagiaphong-inner {
  position: absolute;
  top: 390px;
  left: 1401px;
  border-radius: var(--br-xl);
  background-color: var(--color-palevioletred-100);
  width: 455px;
  height: 65px;
}
.suagiaphong-child1 {
  top: 463px;
}
.vector-icon2 {
  position: absolute;
  height: 2.96%;
  width: 1.88%;
  top: 44.26%;
  right: 4.74%;
  bottom: 52.78%;
  left: 93.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.enter,
.enter1,
.i14,
.n63 {
  position: absolute;
  top: 408px;
  left: 1444px;
  display: inline-block;
  width: 61px;
  height: 30px;
}
.enter,
.enter1,
.i14 {
  left: 1636px;
  width: 113px;
  height: 15px;
}
.enter1,
.i14 {
  top: 479px;
  left: 1635px;
}
.i14 {
  top: 481px;
  left: 1444px;
  width: 61px;
  height: 30px;
}
.suagiaphong-child2 {
  position: absolute;
  top: 334px;
  left: 1390px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkgray);
  width: 455px;
  height: 43px;
}
.gi,
.loi {
  position: absolute;
  top: 341px;
  left: 1444px;
  color: var(--color-black);
  display: inline-block;
  width: 77px;
  height: 43px;
}
.gi {
  left: 1654px;
}
.ellipse-icon,
.ok,
.ok1,
.suagiaphong-child3,
.x {
  position: absolute;
  top: 402px;
  left: 1785px;
  width: 52px;
  height: 42px;
}
.ok,
.ok1,
.suagiaphong-child3,
.x {
  top: 475px;
}
.ok,
.ok1,
.x {
  top: 405px;
  left: 1795px;
  color: var(--color-black);
  display: inline-block;
  width: 61px;
  height: 25px;
}
.ok1,
.x {
  top: 478px;
  left: 1793px;
  width: 63px;
}
.x {
  top: 552px;
  left: 1607px;
  width: 75px;
  height: 56px;
  cursor: pointer;
}
.suagiaphong {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
