.wallpaper-4-icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0.28%;
  right: -0.26%;
  bottom: -0.28%;
  left: 0.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-inner {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.group-child5,
.wallpaper-42 {
  position: absolute;
  top: -3px;
  left: -5px;
  width: 1929px;
  height: 1083px;
}
.group-child5 {
  top: 0;
  left: 0;
  background-color: var(--color-palevioletred-300);
  width: 1533px;
  height: 69.13px;
}
.div52,
.div53,
.l-thnh-nam {
  position: absolute;
  top: 0;
  left: 22px;
  display: flex;
  align-items: center;
  width: 12px;
  height: 69px;
}
.div53,
.l-thnh-nam {
  left: 76px;
  width: 239px;
}
.div53 {
  left: 349px;
  width: 167px;
}
.txt8 {
  line-break: anywhere;
  width: 100%;
}
.div54,
.div55 {
  position: absolute;
  top: 0;
  left: 905px;
  display: flex;
  align-items: center;
  width: 167px;
  height: 69px;
}
.div55 {
  left: 1111px;
}
.bnh-thi {
  margin: 0;
}
.bnh-thi-tp-container {
  position: absolute;
  top: 0;
  left: 577px;
  display: flex;
  align-items: center;
  width: 294px;
  height: 69px;
}
.group-child6 {
  position: absolute;
  height: 24.62%;
  width: 2.54%;
  top: 37.61%;
  right: 1.5%;
  bottom: 37.77%;
  left: 95.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div56 {
  position: absolute;
  top: 4px;
  left: 1330px;
  display: flex;
  align-items: center;
  width: 93px;
  height: 65px;
}
.group-child7,
.rectangle-container {
  position: absolute;
  top: 366px;
  left: 370px;
  width: 1533px;
  height: 69.13px;
}
.group-child7 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-palevioletred-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1535px;
  height: 52.81px;
}
.stt2 {
  top: 0;
  left: 12px;
  display: flex;
  align-items: center;
  width: 44px;
}
.a-ch1,
.h-v-tn2,
.stt2 {
  position: absolute;
  height: 53px;
}
.h-v-tn2 {
  top: 0;
  left: 103px;
  display: flex;
  align-items: center;
  width: 113px;
}
.a-ch1 {
  left: 631px;
  width: 80px;
}
.a-ch1,
.thi-gian-i,
.thi-gian-n1 {
  top: 0;
  display: flex;
  align-items: center;
}
.thi-gian-n1 {
  position: absolute;
  left: 907px;
  width: 165px;
  height: 53px;
}
.thi-gian-i {
  left: 1112px;
  width: 166px;
}
.phng1,
.rectangle-parent1,
.thi-gian-i {
  position: absolute;
  height: 53px;
}
.phng1 {
  top: 0;
  left: 1314px;
  display: flex;
  align-items: center;
  width: 93px;
}
.rectangle-parent1 {
  top: 297px;
  left: 369px;
  width: 1535px;
}
.group-child8,
.group-child9 {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  width: 377px;
  height: 69px;
}
.group-child9 {
  left: 1336px;
  width: 199px;
}
.risearch-2-line-icon1 {
  position: absolute;
  top: 22.77px;
  left: 24px;
  width: 30px;
  height: 28.8px;
  overflow: hidden;
}
.thm-mi {
  position: absolute;
  top: 3px;
  left: 1396px;
  display: flex;
  align-items: center;
  width: 161px;
  height: 69px;
}
.group-child10,
.hin-th-tt {
  position: absolute;
  left: 0;
  width: 203px;
}
.group-child10 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  height: 69px;
}
.hin-th-tt {
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
}
.rectangle-parent3 {
  position: absolute;
  top: 3px;
  left: 1126px;
  width: 203px;
  height: 69px;
  text-align: center;
}
.group-child11 {
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
}
.group-child11,
.group-wrapper219,
.rectangle-frame,
.t-ngy {
  position: absolute;
  top: 0;
  left: 0;
  width: 735px;
  height: 69px;
}
.group-wrapper219,
.t-ngy {
  top: 2.61px;
  left: 18px;
}
.t-ngy {
  top: 17px;
  left: 31px;
  display: flex;
  align-items: center;
  width: 117px;
  height: 40px;
}
.n-ngy,
.n-ngy-wrapper,
.room-types-item {
  position: absolute;
  width: 112px;
  height: 40px;
}
.n-ngy {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.n-ngy-wrapper,
.room-types-item {
  top: 17px;
  left: 386px;
}
.room-types-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-palevioletred-100);
}
.all1 {
  position: absolute;
  top: 23.81%;
  left: 9.9%;
  display: none;
}
.material-symbolsarrow-drop-do-icon1 {
  position: absolute;
  height: 57.14%;
  width: 23.76%;
  top: 21.43%;
  right: 11.88%;
  bottom: 21.43%;
  left: 64.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.room-types1 {
  position: absolute;
  top: 17px;
  left: 138px;
  width: 223px;
  height: 40.33px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.frame-child1,
.frame-child2,
.frame-child3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child1 {
  height: 50.41%;
  width: 26.67%;
  top: 21.25%;
  right: 9.63%;
  bottom: 28.34%;
  left: 63.69%;
  border-radius: var(--br-8xs);
}
.frame-child2,
.frame-child3 {
  height: 36%;
  width: 3.22%;
  top: 28.75%;
  right: 57.54%;
  bottom: 35.25%;
  left: 39.24%;
}
.frame-child3 {
  right: 11.21%;
  left: 85.57%;
}
.ddmmyyyy2,
.ddmmyyyy3 {
  position: absolute;
  top: 17px;
  left: 533px;
  display: flex;
  align-items: center;
  width: 180px;
  height: 40px;
}
.ddmmyyyy3 {
  left: 151px;
}
.add-circle-outline,
.frame-div {
  position: absolute;
  top: 0;
  left: 367px;
  width: 820px;
  height: 80px;
  overflow: hidden;
}
.add-circle-outline {
  top: 17px;
  left: 1349px;
  width: 40px;
  height: 40px;
}
.rectangle-parent2 {
  position: absolute;
  top: 209px;
  left: 371px;
  width: 1557px;
  height: 80px;
}
.trang-chu-quan-ly-khach-hang-child,
.trang-chu-quan-ly-khach-hang-item {
  position: absolute;
  top: 110px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 332px;
  height: 970px;
}
.trang-chu-quan-ly-khach-hang-item {
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 116px;
}
.qun-l-khch2 {
  position: absolute;
  top: 82px;
  left: 371px;
  color: var(--color-black);
  display: inline-block;
  width: 634px;
  height: 30px;
}
.notification-icon,
.profile-icon2 {
  position: absolute;
  top: 35px;
  left: 1723px;
  width: 62px;
  height: 62px;
}
.profile-icon2 {
  top: 34px;
  left: 1818px;
}
.trang-chu-quan-ly-khach-hang-inner {
  position: absolute;
  top: 97px;
  left: 345px;
  width: 1559px;
  height: 946px;
}
.trang-chu-quan-ly-khach-hang-child1 {
  position: absolute;
  top: 152px;
  left: 371px;
  background-color: var(--color-palevioletred-100);
  width: 1533px;
  height: 43px;
}
.danh-sch-thng1 {
  position: absolute;
  top: 157px;
  left: 387px;
  display: inline-block;
  width: 463px;
  height: 28.8px;
}
.div57 {
  position: absolute;
  top: 212px;
  left: 448px;
  display: flex;
  align-items: center;
  width: 167px;
  height: 69px;
}
.trang-chu-quan-ly-khach-hang-child2 {
  position: absolute;
  top: 117px;
  left: 0;
  background-color: var(--color-plum-200);
  width: 357px;
  height: 963px;
}
.trang-chu-quan-ly-khach-hang-child3 {
  position: absolute;
  top: 540px;
  left: 34px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-chu-quan-ly-khach-hang-child4,
.trang-chu-quan-ly-khach-hang-child5,
.trang-chu-quan-ly-khach-hang-child6,
.trang-chu-quan-ly-khach-hang-child7 {
  position: absolute;
  top: 437px;
  left: 34px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-chu-quan-ly-khach-hang-child5,
.trang-chu-quan-ly-khach-hang-child6,
.trang-chu-quan-ly-khach-hang-child7 {
  top: 339px;
  left: 32px;
}
.trang-chu-quan-ly-khach-hang-child6,
.trang-chu-quan-ly-khach-hang-child7 {
  top: 238px;
  left: 34px;
}
.trang-chu-quan-ly-khach-hang-child7 {
  top: 130px;
  left: 32px;
}
.qun-l-phng3,
.trang-ch2 {
  position: absolute;
  top: 157px;
  left: 52px;
}
.qun-l-phng3 {
  top: 259px;
}
.lch-s3,
.qun-l-doanh2,
.qun-l-khch3 {
  position: absolute;
  top: 360px;
  left: 52px;
  font-size: var(--font-size-3xl);
}
.lch-s3,
.qun-l-doanh2 {
  top: 462px;
}
.lch-s3 {
  top: 559px;
}
.trang-chu-quan-ly-khach-hang-child8 {
  position: absolute;
  top: 22px;
  left: 34px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.nh-ngh-hin3 {
  display: inline-block;
  width: 280px;
}
.nh-ngh-hin3,
.nh-ngh-hin4 {
  position: absolute;
  top: calc(50% - 497px);
  left: calc(50% - 908px);
}
.cccdcmnd {
  position: absolute;
  top: 297px;
  left: 719px;
  display: flex;
  align-items: center;
  width: 177px;
  height: 53px;
}
.trang-chu-quan-ly-khach-hang-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.63);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 1080px;
  opacity: 0.5;
}
.warning-2-1,
.xa-child {
  position: absolute;
  top: 0;
  left: -4px;
  width: 707px;
  height: 192px;
}
.warning-2-1 {
  top: 34px;
  left: 16px;
  width: 73px;
  height: 71px;
  object-fit: cover;
}
.room-types2,
.xa-item {
  position: absolute;
  top: 131px;
  left: 0;
  width: 699px;
  height: 56px;
}
.room-types2 {
  top: 139px;
  left: 502px;
  width: 85px;
  height: 40px;
  cursor: pointer;
}
.room-types-child1 {
  position: absolute;
  height: 90.91%;
  width: 95.51%;
  top: 0;
  right: 4.49%;
  bottom: 9.09%;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-palevioletred-100);
}
.all3 {
  position: absolute;
  top: 21.65%;
  left: 9.46%;
  display: none;
}
.material-symbolsarrow-drop-do-icon3 {
  position: absolute;
  height: 51.95%;
  width: 22.69%;
  top: 19.48%;
  right: 15.84%;
  bottom: 28.57%;
  left: 61.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.room-types3 {
  position: absolute;
  top: 137px;
  left: 600px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 89px;
  height: 44px;
}
.xa-icon {
  position: absolute;
  top: 149.23px;
  left: 522.58px;
  width: 43.47px;
  height: 19.01px;
}
.hy-icon {
  top: 149.06px;
  left: 622.35px;
  width: 44.26px;
  height: 24.46px;
  cursor: pointer;
}
.bn-mun-xa,
.hy-icon,
.xa {
  position: absolute;
}
.bn-mun-xa {
  top: 39px;
  left: 138px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-lexend);
  color: var(--color-white);
  display: inline-block;
  width: 548px;
  height: 61px;
}
.xa {
  top: 505px;
  left: 792px;
  width: 699px;
  height: 187px;
  mix-blend-mode: hard-light;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.trang-chu-quan-ly-khach-hang {
  position: relative;
  background-color: var(--color-plum-100);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
