.wallpaper-4-icon14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-child8 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.group-child29,
.wallpaper-410 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.group-child29 {
  background-color: var(--color-palevioletred-300);
  width: 1533px;
  height: 69.13px;
}
.div158,
.div159,
.l-thnh-nam1 {
  position: absolute;
  top: 0;
  left: 22px;
  display: flex;
  align-items: center;
  width: 12px;
  height: 69px;
}
.div159,
.l-thnh-nam1 {
  left: 76px;
  width: 239px;
}
.div159 {
  left: 349px;
  width: 167px;
}
.p148 {
  margin: 0;
}
.txt10 {
  line-break: anywhere;
  width: 100%;
}
.bnh-thi-tp-container2,
.div160,
.div161 {
  position: absolute;
  top: 0;
  left: 905px;
  display: flex;
  align-items: center;
  width: 167px;
  height: 69px;
}
.bnh-thi-tp-container2,
.div161 {
  left: 1111px;
}
.bnh-thi-tp-container2 {
  left: 577px;
  width: 294px;
}
.group-child30 {
  position: absolute;
  height: 24.62%;
  width: 2.54%;
  top: 37.61%;
  right: 1.5%;
  bottom: 37.77%;
  left: 95.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.div162 {
  position: absolute;
  top: 4px;
  left: 1330px;
  display: flex;
  align-items: center;
  width: 93px;
  height: 65px;
}
.group-child31,
.rectangle-parent109 {
  position: absolute;
  top: 366px;
  left: 370px;
  width: 1533px;
  height: 69.13px;
}
.group-child31 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-palevioletred-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1535px;
  height: 52.81px;
}
.stt5 {
  top: 0;
  left: 12px;
  display: flex;
  align-items: center;
  width: 44px;
}
.a-ch3,
.h-v-tn6,
.stt5 {
  position: absolute;
  height: 53px;
}
.h-v-tn6 {
  top: 0;
  left: 103px;
  display: flex;
  align-items: center;
  width: 113px;
}
.a-ch3 {
  left: 631px;
  width: 80px;
}
.a-ch3,
.thi-gian-i2,
.thi-gian-n3 {
  top: 0;
  display: flex;
  align-items: center;
}
.thi-gian-n3 {
  position: absolute;
  left: 907px;
  width: 165px;
  height: 53px;
}
.thi-gian-i2 {
  left: 1112px;
  width: 166px;
}
.phng4,
.rectangle-parent110,
.thi-gian-i2 {
  position: absolute;
  height: 53px;
}
.phng4 {
  top: 0;
  left: 1314px;
  display: flex;
  align-items: center;
  width: 93px;
}
.rectangle-parent110 {
  top: 297px;
  left: 369px;
  width: 1535px;
}
.group-child32,
.group-child33 {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  width: 377px;
  height: 69px;
}
.group-child33 {
  left: 1336px;
  width: 199px;
}
.risearch-2-line-icon3 {
  position: absolute;
  top: 22.77px;
  left: 24px;
  width: 30px;
  height: 28.8px;
  overflow: hidden;
}
.thm-mi2 {
  position: absolute;
  top: 3px;
  left: 1396px;
  display: flex;
  align-items: center;
  width: 161px;
  height: 69px;
}
.group-child34,
.hin-th-tt2 {
  position: absolute;
  left: 0;
  width: 203px;
}
.group-child34 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  height: 69px;
}
.hin-th-tt2 {
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
}
.rectangle-parent112 {
  position: absolute;
  top: 3px;
  left: 1126px;
  width: 203px;
  height: 69px;
  text-align: center;
}
.group-child35 {
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
}
.group-child35,
.group-wrapper247,
.group-wrapper248,
.t-ngy2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 735px;
  height: 69px;
}
.group-wrapper247,
.t-ngy2 {
  top: 2.61px;
  left: 18px;
}
.t-ngy2 {
  top: 17px;
  left: 31px;
  display: flex;
  align-items: center;
  width: 117px;
  height: 40px;
}
.n-ngy-frame,
.n-ngy2 {
  position: absolute;
  width: 112px;
  height: 40px;
}
.n-ngy2 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.n-ngy-frame {
  top: 17px;
  left: 386px;
}
.room-types-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-palevioletred-100);
}
.all5 {
  position: absolute;
  top: 23.81%;
  left: 9.9%;
  display: none;
}
.material-symbolsarrow-drop-do-icon5 {
  position: absolute;
  height: 57.14%;
  width: 23.76%;
  top: 21.43%;
  right: 11.88%;
  bottom: 21.43%;
  left: 64.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.room-types5 {
  position: absolute;
  top: 17px;
  left: 138px;
  width: 223px;
  height: 40.33px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.frame-child215,
.frame-child216,
.frame-child217 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child215 {
  height: 50.41%;
  width: 26.67%;
  top: 21.25%;
  right: 9.63%;
  bottom: 28.34%;
  left: 63.69%;
  border-radius: var(--br-8xs);
}
.frame-child216,
.frame-child217 {
  height: 36%;
  width: 3.22%;
  top: 28.75%;
  right: 57.54%;
  bottom: 35.25%;
  left: 39.24%;
}
.frame-child217 {
  right: 11.21%;
  left: 85.57%;
}
.ddmmyyyy6,
.ddmmyyyy7 {
  position: absolute;
  top: 17px;
  left: 533px;
  display: flex;
  align-items: center;
  width: 180px;
  height: 40px;
}
.ddmmyyyy7 {
  left: 151px;
}
.add-circle-outline2,
.group-parent2 {
  position: absolute;
  top: 0;
  left: 367px;
  width: 820px;
  height: 80px;
  overflow: hidden;
}
.add-circle-outline2 {
  top: 17px;
  left: 1349px;
  width: 40px;
  height: 40px;
}
.rectangle-parent111 {
  position: absolute;
  top: 209px;
  left: 371px;
  width: 1557px;
  height: 80px;
}
.trang-chu-quan-ly-khach-hang-child20,
.trang-chu-quan-ly-khach-hang-child21 {
  position: absolute;
  top: 110px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 332px;
  height: 970px;
}
.trang-chu-quan-ly-khach-hang-child21 {
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 116px;
}
.qun-l-khch11 {
  position: absolute;
  top: 82px;
  left: 371px;
  color: var(--color-midnightblue);
  display: inline-block;
  width: 634px;
  height: 30px;
}
.profile-icon10 {
  position: absolute;
  top: 34px;
  left: 1818px;
  width: 62px;
  height: 62px;
}
.trang-chu-quan-ly-khach-hang-child22 {
  position: absolute;
  top: 97px;
  left: 345px;
  width: 1559px;
  height: 946px;
}
.trang-chu-quan-ly-khach-hang-child23 {
  position: absolute;
  top: 152px;
  left: 371px;
  background-color: var(--color-palevioletred-100);
  width: 1533px;
  height: 43px;
}
.danh-sch-thng3 {
  position: absolute;
  top: 157px;
  left: 387px;
  display: inline-block;
  width: 463px;
  height: 28.8px;
}
.div163 {
  position: absolute;
  top: 212px;
  left: 448px;
  display: flex;
  align-items: center;
  width: 167px;
  height: 69px;
}
.trang-chu-quan-ly-khach-hang-child24 {
  position: absolute;
  top: 117px;
  left: 0;
  background-color: var(--color-plum-200);
  width: 357px;
  height: 963px;
}
.trang-chu-quan-ly-khach-hang-child25 {
  position: absolute;
  top: 545px;
  left: 32px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
  cursor: pointer;
}
.trang-chu-quan-ly-khach-hang-child26 {
  top: 445px;
  cursor: pointer;
}
.trang-chu-quan-ly-khach-hang-child26,
.trang-chu-quan-ly-khach-hang-child27,
.trang-chu-quan-ly-khach-hang-child28,
.trang-chu-quan-ly-khach-hang-child29 {
  position: absolute;
  left: 32px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-chu-quan-ly-khach-hang-child27 {
  top: 342px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.trang-chu-quan-ly-khach-hang-child28,
.trang-chu-quan-ly-khach-hang-child29 {
  top: 242px;
  cursor: pointer;
}
.trang-chu-quan-ly-khach-hang-child29 {
  top: 140px;
}
.qun-l-phng15,
.trang-ch13 {
  position: absolute;
  top: 157px;
  left: 52px;
}
.qun-l-phng15 {
  top: 259px;
}
.lch-s11,
.qun-l-doanh10,
.qun-l-khch12 {
  position: absolute;
  top: 360px;
  left: 52px;
  font-size: var(--font-size-3xl);
}
.lch-s11,
.qun-l-doanh10 {
  top: 462px;
}
.lch-s11 {
  top: 559px;
}
.trang-chu-quan-ly-khach-hang-child30 {
  position: absolute;
  top: 25px;
  left: 18px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.cccdcmnd2,
.nh-ngh-hin12 {
  position: absolute;
  top: 26px;
  left: 35px;
  display: flex;
  align-items: center;
  width: 280px;
  height: 68px;
}
.cccdcmnd2 {
  top: 297px;
  left: 724px;
  width: 177px;
  height: 53px;
}
.trang-chu-quan-ly-khach-hang2 {
  position: relative;
  background-color: var(--color-plum-100);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
