.wallpaper-4-icon22 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0.91%;
  right: 0;
  bottom: -0.91%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-child15 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.wallpaper-4-icon23,
.wallpaper-417 {
  position: absolute;
  top: -10px;
  left: 0;
  width: 1934px;
  height: 1100px;
}
.wallpaper-4-icon23 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-6-inner {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
}
.wallpaper-62 {
  position: absolute;
  top: 4913px;
  left: 421px;
  width: 1934px;
  height: 1100px;
  opacity: 0.5;
}
.trang-chu-lich-su-5-child {
  position: absolute;
  top: -15px;
  left: -7px;
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 116px;
}
.trang-chu-lich-su-5-child1,
.trang-chu-lich-su-5-inner,
.trang-chu-lich-su-5-item {
  position: absolute;
  left: 35px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-chu-lich-su-5-item {
  top: 440px;
  cursor: pointer;
}
.trang-chu-lich-su-5-child1,
.trang-chu-lich-su-5-inner {
  top: 540px;
}
.trang-chu-lich-su-5-child1 {
  top: 340px;
  cursor: pointer;
}
.trang-chu-lich-su-5-child2 {
  top: 132px;
  left: 35px;
  cursor: pointer;
}
.trang-chu-lich-su-5-child2,
.trang-chu-lich-su-5-child3,
.trang-chu-lich-su-5-child4 {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-chu-lich-su-5-child3 {
  top: 238px;
  left: 35px;
  cursor: pointer;
}

.qun-l-phng25,
.trang-ch22 {
  position: absolute;
  top: 153px;
  left: 53px;
}
.qun-l-phng25 {
  top: 255px;
}
.lch-s20,
.qun-l-doanh20,
.qun-l-khch21 {
  position: absolute;
  top: 356px;
  left: 53px;
  font-size: var(--font-size-3xl);
}
.lch-s20,
.qun-l-doanh20 {
  top: 458px;
}
.lch-s20 {
  top: 555px;
}
.trang-chu-lich-su-5-child5 {
  position: absolute;
  top: 1px;
  left: 377px;
  border-radius: var(--br-3xs);
  width: 691px;
  height: 69.13px;
}
.trang-chu-lich-su-5-child6 {
  position: absolute;
  top: 351.91px;
  left: 368px;
  background-color: var(--color-palevioletred-300);
  width: 1533px;
  height: 69.13px;
}
.trang-chu-lich-su-5-child7,
.trang-chu-lich-su-5-child8 {
  position: absolute;
  top: 152px;
  left: 367px;
  background-color: var(--color-palevioletred-100);
  width: 1535px;
  height: 43px;
}
.trang-chu-lich-su-5-child8 {
  top: 280.38px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1533px;
  height: 52.81px;
}
.danh-sch-thng6,
.div344,
.h-v-tn9,
.l-anh-tun2,
.stt10 {
  position: absolute;
  top: 160px;
  left: 383px;
  display: inline-block;
  width: 463px;
  height: 28.8px;
}
.div344,
.h-v-tn9,
.l-anh-tun2,
.stt10 {
  top: 293px;
  left: 389px;
  width: 44px;
}
.div344,
.h-v-tn9,
.l-anh-tun2 {
  top: 373px;
  left: 407px;
  width: 12px;
}
.h-v-tn9,
.l-anh-tun2 {
  top: 293px;
  left: 506px;
  width: 113px;
}
.l-anh-tun2 {
  top: 372px;
  left: 487px;
  width: 205px;
  height: 29px;
}
.trang-chu-lich-su-5-child9 {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 116px;
}
.group-child73 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.nh-ngh-hin23 {
  position: absolute;
  top: 0;
  left: 18px;
  display: flex;
  align-items: center;
  width: 280px;
  height: 68px;
}
.rectangle-parent173 {
  position: absolute;
  top: 30px;
  left: 35px;
  width: 298px;
  height: 72px;
}
.lch-s21 {
  position: absolute;
  top: 79px;
  left: 368px;
  color: var(--color-midnightblue);
}
.profile-icon18 {
  position: absolute;
  top: 27px;
  left: 1836px;
  width: 62px;
  height: 62px;
}
.trang-chu-lich-su-5-child10 {
  position: absolute;
  top: 203px;
  left: 367px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  width: 710px;
  height: 69px;
}
.l-anh-tun3 {
  position: absolute;
  top: 223px;
  left: 460px;
  display: inline-block;
  width: 237px;
  height: 29px;
}
.icon-trash7,
.risearch-2-line-icon6 {
  position: absolute;
  top: 222.77px;
  left: 392px;
  width: 30px;
  height: 28.8px;
  overflow: hidden;
}
.icon-trash7 {
  height: 2.04%;
  width: 1.17%;
  top: 34.81%;
  right: 2.01%;
  bottom: 63.15%;
  left: 96.82%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.group-child74 {
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
}
.group-child74,
.group-wrapper733 {
  position: absolute;
  top: 0;
  left: 0;
  width: 806px;
  height: 69.13px;
}
.n-frame,
.n190,
.t8 {
  position: absolute;
  height: 28.8px;
}
.t8 {
  top: 20.16px;
  left: 22px;
  display: inline-block;
  width: 117px;
}
.n-frame,
.n190 {
  width: 112px;
}
.n190 {
  top: 0;
  left: 0;
  display: inline-block;
}
.n-frame {
  top: 20.16px;
  left: 422px;
}
.room-types-child10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-palevioletred-100);
}
.all12 {
  position: absolute;
  top: 23.81%;
  left: 9.9%;
  display: none;
}
.material-symbolsarrow-drop-do-icon12 {
  position: absolute;
  height: 57.14%;
  width: 23.76%;
  top: 21.43%;
  right: 11.88%;
  bottom: 21.43%;
  left: 64.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.room-types12 {
  position: absolute;
  top: 14.4px;
  left: 139px;
  width: 223px;
  height: 40.33px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.group-child75,
.group-child76,
.group-child77 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child75 {
  height: 58.33%;
  width: 27.67%;
  top: 20.83%;
  right: 2.92%;
  bottom: 20.83%;
  left: 69.42%;
  border-radius: var(--br-8xs);
}
.group-child76,
.group-child77 {
  height: 41.67%;
  width: 3.34%;
  top: 29.17%;
  right: 56.47%;
  bottom: 29.17%;
  left: 40.2%;
}
.group-child77 {
  right: 4.11%;
  left: 92.56%;
}
.div345,
.div346 {
  position: absolute;
  top: 20px;
  left: 571px;
  display: inline-block;
  width: 180px;
  height: 28.8px;
}
.div346 {
  left: 144px;
}
.group-parent7 {
  position: absolute;
  top: 202px;
  left: 1096px;
  width: 806px;
  height: 69.13px;
  text-align: center;
}
.thi-gian-n7 {
  position: absolute;
  top: 280px;
  left: 1001px;
  display: flex;
  align-items: center;
  width: 165px;
  height: 53px;
}
.p247 {
  margin: 0;
}
.txt24 {
  line-break: anywhere;
  width: 100%;
}
.div347,
.hd10503004231611,
.m-ha-n5 {
  position: absolute;
  top: 351px;
  left: 1001px;
  display: flex;
  align-items: center;
  width: 167px;
  height: 69px;
}
.hd10503004231611,
.m-ha-n5 {
  top: 280px;
  left: 1446px;
  text-align: center;
  justify-content: center;
  width: 165px;
  height: 53px;
}
.hd10503004231611 {
  top: 359px;
  left: 1369px;
  text-decoration: underline;
  color: var(--color-snow-100);
  width: 319px;
}
.trang-chu-lich-su-5 {
  position: relative;
  background-color: var(--color-plum-100);
  width: 1934px;
  height: 1100px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
