.trang-chu-quan-ly-khach-hang-child43 {
  position: absolute;
  top: 110px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 332px;
  height: 970px;
}
.wallpaper-4-icon20 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-child14 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.wallpaper-416 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.trang-chu-quan-ly-khach-hang-child44 {
  position: absolute;
  top: 116px;
  left: 0;
  background-color: var(--color-palevioletred-400);
  width: 315px;
  height: 930px;
}
.trang-chu-quan-ly-khach-hang-child45 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 116px;
}
.trang-ch19 {
  position: absolute;
  top: 64px;
  left: 345px;
  color: var(--color-midnightblue);
  display: inline-block;
  width: 634px;
  height: 30px;
}
.profile-icon16 {
  position: absolute;
  top: 34px;
  left: 1818px;
  width: 62px;
  height: 62px;
}
.trang-chu-quan-ly-khach-hang-child46,
.trang-chu-quan-ly-khach-hang-child47,
.trang-chu-quan-ly-khach-hang-child48,
.trang-chu-quan-ly-khach-hang-child49 {
  position: absolute;
  top: 22px;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-chu-quan-ly-khach-hang-child47,
.trang-chu-quan-ly-khach-hang-child48,
.trang-chu-quan-ly-khach-hang-child49 {
  top: 550px;
  cursor: pointer;
}
.trang-chu-quan-ly-khach-hang-child48,
.trang-chu-quan-ly-khach-hang-child49 {
  top: 447px;
}
.trang-chu-quan-ly-khach-hang-child49 {
  top: 142px;
}
.trang-chu-quan-ly-khach-hang-child50 {
  top: 241px;
  background-color: var(--color-palevioletred-100);
  cursor: pointer;
}
.trang-chu-quan-ly-khach-hang-child50,
.trang-chu-quan-ly-khach-hang-child51,
.trang-chu-quan-ly-khach-hang-child52 {
  position: absolute;
  left: 17px;
  border-radius: var(--br-3xs);
  width: 298px;
  height: 72px;
}
.trang-chu-quan-ly-khach-hang-child51 {
  top: 342px;
  background-color: var(--color-palevioletred-100);
  border: 5px solid var(--color-white);
  box-sizing: border-box;
}
.trang-chu-quan-ly-khach-hang-child52 {
  top: 447px;
}
.qun-l-phng23,
.trang-ch20 {
  position: absolute;
  top: 160px;
  left: 35px;
}
.qun-l-phng23 {
  top: 262px;
}
.lch-s17,
.qun-l-doanh18,
.qun-l-khch19 {
  position: absolute;
  top: 363px;
  left: 35px;
  font-size: var(--font-size-3xl);
}
.lch-s17,
.qun-l-doanh18 {
  top: 465px;
}
.lch-s17 {
  top: 562px;
}
.nh-ngh-hin18 {
  position: absolute;
  top: 50px;
  left: 35px;
}
/* .nh-ngh-hin18 {
  position: absolute;
  top: 50px;
  left: 35px;
} */
.trang-chu-quan-ly-khach-hang-child53 {
  position: absolute;
  top: 149px;
  left: 345px;
  background-color: var(--color-palevioletred-100);
  width: 1533px;
  height: 43px;
}
.danh-sch-thng4 {
  position: absolute;
  top: 157px;
  left: 361px;
  display: inline-block;
  width: 463px;
  height: 28.8px;
}
.group-child49 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-palevioletred-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1535px;
  height: 52.81px;
}
.a-ch5,
.cccdcmnd4,
.h-v-tn7,
.phng6,
.stt8,
.thi-gian-i4,
.thi-gian-n5 {
  position: absolute;
  top: 0;
  left: 12px;
  display: flex;
  align-items: center;
  width: 44px;
  height: 53px;
}
.a-ch5,
.cccdcmnd4,
.h-v-tn7,
.phng6,
.thi-gian-i4,
.thi-gian-n5 {
  left: 103px;
  width: 113px;
}
.a-ch5,
.cccdcmnd4,
.phng6,
.thi-gian-i4,
.thi-gian-n5 {
  left: 349px;
  width: 177px;
}
.a-ch5,
.phng6,
.thi-gian-i4,
.thi-gian-n5 {
  left: 631px;
  width: 80px;
}
.phng6,
.thi-gian-i4,
.thi-gian-n5 {
  left: 907px;
  width: 165px;
}
.phng6,
.thi-gian-i4 {
  left: 1112px;
  width: 166px;
}
.phng6 {
  left: 1314px;
  width: 93px;
}
.group-child50,
.rectangle-parent163 {
  position: absolute;
  top: 277px;
  left: 345px;
  width: 1535px;
  height: 53px;
}
.group-child50 {
  top: 0;
  left: 0;
  background-color: var(--color-palevioletred-300);
  width: 1533px;
  height: 69.13px;
}
.div310,
.div311,
.nguyn-th-nhn5 {
  position: absolute;
  top: 0;
  left: 22px;
  display: flex;
  align-items: center;
  width: 12px;
  height: 69px;
}
.div311,
.nguyn-th-nhn5 {
  left: 76px;
  width: 239px;
}
.div311 {
  left: 349px;
  width: 167px;
}
.txt12 {
  line-break: anywhere;
  width: 100%;
}
.div312,
.div313 {
  position: absolute;
  top: 0;
  left: 905px;
  display: flex;
  align-items: center;
  width: 167px;
  height: 69px;
}
.div313 {
  left: 1111px;
}
.trng-vng {
  margin: 0;
}
.trng-vng-tp-container {
  position: absolute;
  top: 0;
  left: 577px;
  display: flex;
  align-items: center;
  width: 294px;
  height: 69px;
}
.group-child51 {
  position: absolute;
  height: 23.31%;
  width: 2.54%;
  top: 35.62%;
  right: 1.5%;
  bottom: 41.07%;
  left: 95.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div314 {
  position: absolute;
  top: 4px;
  left: 1330px;
  display: flex;
  align-items: center;
  width: 93px;
  height: 69px;
}
.group-child53,
.rectangle-parent164 {
  position: absolute;
  top: 341px;
  left: 345px;
  width: 1533px;
  height: 73px;
}
.group-child53 {
  height: 24.62%;
  width: 2.54%;
  top: 37.61%;
  right: 1.5%;
  bottom: 37.77%;
  left: 95.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div319 {
  position: absolute;
  top: 0;
  left: 1330px;
  display: flex;
  align-items: center;
  width: 93px;
  height: 69px;
}
.rectangle-parent165,
.rectangle-parent166,
.rectangle-parent167 {
  position: absolute;
  top: 421px;
  left: 345px;
  width: 1533px;
  height: 69.13px;
}
.rectangle-parent166,
.rectangle-parent167 {
  top: 501px;
}
.rectangle-parent167 {
  top: 581px;
}
.div331,
.div333,
.div334,
.ng-vn-tun3 {
  position: absolute;
  top: 0;
  left: 78px;
  display: flex;
  align-items: center;
  width: 239px;
  height: 69px;
}
.div331,
.div333,
.div334 {
  left: 351px;
  width: 166px;
}
.div333,
.div334 {
  left: 1113px;
  width: 171px;
}
.div334 {
  top: -1px;
  left: 1331px;
  width: 95px;
}
.frame-child328 {
  position: absolute;
  height: 24.66%;
  width: 2.54%;
  top: 36.94%;
  right: 1.37%;
  bottom: 38.39%;
  left: 96.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent {
  position: absolute;
  top: 661px;
  left: 345px;
  background-color: var(--color-palevioletred-300);
  width: 1534px;
  height: 69px;
}
.trang-chu-quan-ly-khach-hang-child54 {
  position: absolute;
  height: 1.58%;
  width: 2.03%;
  top: 55.65%;
  right: 3.28%;
  bottom: 42.78%;
  left: 1785px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent168 {
  position: absolute;
  top: 741px;
  left: 345px;
  width: 1533px;
  height: 69.13px;
}
.group-child58,
.group-child59 {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  width: 377px;
  height: 69px;
}
.group-child59 {
  left: 1336px;
  width: 199px;
}
.risearch-2-line-icon4 {
  position: absolute;
  top: 22.77px;
  left: 24px;
  width: 30px;
  height: 28.8px;
  overflow: hidden;
}
.thm-mi3,
.tm-kim2 {
  position: absolute;
  cursor: pointer;
}
.tm-kim2 {
  top: 23px;
  left: 92px;
  display: inline-block;
  width: 167px;
  height: 28.8px;
}
.thm-mi3 {
  top: 3px;
  left: 1396px;
  display: flex;
  align-items: center;
  width: 161px;
  height: 69px;
}
.group-child60,
.hin-th-tt3 {
  position: absolute;
  left: 0;
  width: 203px;
}
.group-child60 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  height: 69px;
}
.hin-th-tt3 {
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
}
.rectangle-parent170 {
  position: absolute;
  top: 3px;
  left: 1126px;
  width: 203px;
  height: 69px;
  text-align: center;
}
.group-child61 {
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
}
.group-child61,
.group-wrapper705,
.group-wrapper706,
.t-ngy5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 735px;
  height: 69px;
}
.group-wrapper705,
.t-ngy5 {
  top: 2.61px;
  left: 18px;
}
.t-ngy5 {
  top: 17px;
  left: 31px;
  display: flex;
  align-items: center;
  width: 117px;
  height: 40px;
}
.n-ngy-wrapper3,
.n-ngy5 {
  position: absolute;
  width: 112px;
  height: 40px;
}
.n-ngy5 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.n-ngy-wrapper3 {
  top: 17px;
  left: 386px;
}
.room-types-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-palevioletred-100);
}
.all8 {
  position: absolute;
  top: 23.81%;
  left: 9.9%;
  display: none;
}
.material-symbolsarrow-drop-do-icon8 {
  position: absolute;
  height: 57.14%;
  width: 23.76%;
  top: 21.43%;
  right: 11.88%;
  bottom: 21.43%;
  left: 64.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.room-types8 {
  position: absolute;
  top: 17px;
  left: 138px;
  width: 223px;
  height: 40.33px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.frame-child329,
.frame-child330,
.frame-child331 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child329 {
  height: 50.41%;
  width: 26.67%;
  top: 21.25%;
  right: 9.63%;
  bottom: 28.34%;
  left: 63.69%;
  border-radius: var(--br-8xs);
}
.frame-child330,
.frame-child331 {
  height: 36%;
  width: 3.22%;
  top: 28.75%;
  right: 57.54%;
  bottom: 35.25%;
  left: 39.24%;
}
.frame-child331 {
  right: 11.21%;
  left: 85.57%;
}
.ddmmyyyy14,
.ddmmyyyy15 {
  position: absolute;
  top: 17px;
  left: 533px;
  display: flex;
  align-items: center;
  width: 180px;
  height: 40px;
}
.ddmmyyyy15 {
  left: 151px;
}
.add-circle-outline3,
.group-parent5 {
  position: absolute;
  top: 0;
  left: 367px;
  width: 820px;
  height: 80px;
  overflow: hidden;
}
.add-circle-outline3 {
  top: 17px;
  left: 1349px;
  width: 40px;
  height: 40px;
}
.rectangle-parent169 {
  position: absolute;
  top: 197px;
  left: 345px;
  width: 1557px;
  height: 80px;
}
.trang-chu-quan-ly-khach-hang-child55 {
  position: absolute;
  height: 1.58%;
  width: 2.03%;
  top: 71.11%;
  right: 3.13%;
  bottom: 27.31%;
  left: 1785px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-chu-quan-ly-khach-hang4 {
  position: relative;
  background-color: var(--color-plum-100);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
