.wallpaper-4-icon24 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0.91%;
  right: 0;
  bottom: -0.91%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-child16 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.wallpaper-4-icon25,
.wallpaper-418 {
  position: absolute;
  top: -10px;
  left: 0;
  width: 1934px;
  height: 1100px;
}
.wallpaper-4-icon25 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-6-child1 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
}
.wallpaper-63 {
  position: absolute;
  top: 4913px;
  left: 421px;
  width: 1934px;
  height: 1100px;
  opacity: 0.5;
}
.trang-chu-lich-su-3-child {
  position: absolute;
  top: -15px;
  left: -7px;
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 116px;
}
.trang-chu-lich-su-3-child1,
.trang-chu-lich-su-3-inner,
.trang-chu-lich-su-3-item {
  position: absolute;
  left: 35px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-chu-lich-su-3-item {
  top: 138px;
  cursor: pointer;
}
.trang-chu-lich-su-3-child1,
.trang-chu-lich-su-3-inner {
  top: 236px;
}
.trang-chu-lich-su-3-child1 {
  top: 334px;
}
.trang-chu-lich-su-3-child2 {
  top: 440px;
  left: 35px;
}
.trang-chu-lich-su-3-child2,
.trang-chu-lich-su-3-child3,
.trang-chu-lich-su-3-child4 {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-chu-lich-su-3-child3 {
  top: 533px;
  left: 35px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.trang-chu-lich-su-3-child4 {
  top: 183px;
  left: 5633px;
}
.qun-l-phng26,
.trang-ch23 {
  position: absolute;
  top: 153px;
  left: 53px;
}
.qun-l-phng26 {
  top: 255px;
}
.lch-s22,
.qun-l-doanh21,
.qun-l-khch22 {
  position: absolute;
  top: 356px;
  left: 53px;
  font-size: var(--font-size-3xl);
}
.lch-s22,
.qun-l-doanh21 {
  top: 458px;
}
.lch-s22 {
  top: 555px;
}
.trang-chu-lich-su-3-child5 {
  position: absolute;
  top: 1px;
  left: 377px;
  border-radius: var(--br-3xs);
  width: 691px;
  height: 69.13px;
}
.trang-chu-lich-su-3-child6 {
  position: absolute;
  top: 351.91px;
  left: 368px;
  background-color: var(--color-palevioletred-300);
  width: 1533px;
  height: 69.13px;
}
.trang-chu-lich-su-3-child10,
.trang-chu-lich-su-3-child7,
.trang-chu-lich-su-3-child8,
.trang-chu-lich-su-3-child9 {
  position: absolute;
  top: 440px;
  left: 368px;
  background-color: var(--color-palevioletred-300);
  width: 1533px;
  height: 69.13px;
}
.trang-chu-lich-su-3-child10,
.trang-chu-lich-su-3-child8,
.trang-chu-lich-su-3-child9 {
  top: 525px;
}
.trang-chu-lich-su-3-child10,
.trang-chu-lich-su-3-child9 {
  top: 616px;
}
.trang-chu-lich-su-3-child10 {
  top: 701px;
}
.trang-chu-lich-su-3-child11,
.trang-chu-lich-su-3-child12 {
  position: absolute;
  top: 152px;
  left: 367px;
  background-color: var(--color-palevioletred-100);
  width: 1535px;
  height: 43px;
}
.trang-chu-lich-su-3-child12 {
  top: 280.38px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1533px;
  height: 52.81px;
}
.danh-sch-thng7,
.div348,
.div349,
.stt11 {
  position: absolute;
  top: 160px;
  left: 383px;
  display: inline-block;
  width: 463px;
  height: 28.8px;
}
.div348,
.div349,
.stt11 {
  top: 293px;
  left: 389px;
  width: 44px;
}
.div348,
.div349 {
  top: 373px;
  left: 407px;
  width: 12px;
}
.div349 {
  top: 462px;
}
.div350,
.div351 {
  width: 13px;
  height: 28.8px;
}
.div350 {
  position: absolute;
  top: 544px;
  left: 407px;
  display: inline-block;
}
.div351 {
  top: 722px;
  left: 406px;
}
.div351,
.div352,
.trn-minh-tin {
  position: absolute;
  display: inline-block;
}
.div352 {
  top: 637px;
  left: 407px;
  width: 13px;
  height: 28.8px;
}
.trn-minh-tin {
  top: 460px;
  left: 489px;
  width: 253px;
  height: 24px;
}
.h-v-tn10,
.l-anh-tun4,
.l-thnh-nam2,
.nguyn-mnh-tm,
.trn-thanh-bnh {
  position: absolute;
  top: 549px;
  left: 490px;
  display: inline-block;
  width: 235px;
  height: 29px;
}
.h-v-tn10,
.l-thnh-nam2,
.nguyn-mnh-tm,
.trn-thanh-bnh {
  top: 637px;
}
.h-v-tn10,
.l-thnh-nam2,
.trn-thanh-bnh {
  top: 293px;
  left: 506px;
  width: 113px;
  height: 28.8px;
}
.l-thnh-nam2,
.trn-thanh-bnh {
  top: 372px;
  left: 487px;
  width: 205px;
  height: 29px;
}
.trn-thanh-bnh {
  top: 721px;
  left: 490px;
  width: 219px;
}
.icon-trash8,
.icon-trash9,
.trang-chu-lich-su-3-child13 {
  position: absolute;
  height: 2.04%;
  width: 1.17%;
  top: 67.22%;
  right: 2.01%;
  bottom: 30.74%;
  left: 96.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-trash9,
.trang-chu-lich-su-3-child13 {
  top: 59.26%;
  right: 2.06%;
  bottom: 38.7%;
  left: 96.77%;
}
.trang-chu-lich-su-3-child13 {
  height: 9.91%;
  width: 1.22%;
  top: 43.06%;
  right: 2.01%;
  bottom: 47.04%;
}
.trang-chu-lich-su-3-child14 {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 116px;
}
.group-child78 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.nh-ngh-hin24 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 140px);
  display: inline-block;
  width: 280px;
}
.rectangle-parent174 {
  position: absolute;
  top: 29px;
  left: 35px;
  width: 298px;
  height: 72px;
  text-align: center;
}
.lch-s23 {
  position: absolute;
  top: 79px;
  left: 368px;
  color: var(--color-midnightblue);
}
.profile-icon19 {
  position: absolute;
  top: 27px;
  left: 1836px;
  width: 62px;
  height: 62px;
}
.trang-chu-lich-su-3-child15 {
  position: absolute;
  top: 203px;
  left: 367px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  width: 710px;
  height: 69px;
  cursor: pointer;
}
.tm-kim3 {
  position: absolute;
  top: 223px;
  left: 460px;
  display: inline-block;
  width: 237px;
  height: 29px;
}
.icon-trash10,
.risearch-2-line-icon7 {
  position: absolute;
  top: 222.77px;
  left: 392px;
  width: 30px;
  height: 28.8px;
  overflow: hidden;
}
.icon-trash10 {
  height: 2.04%;
  width: 1.17%;
  top: 34.81%;
  right: 2.01%;
  bottom: 63.15%;
  left: 96.82%;
  max-width: 100%;
  max-height: 100%;
}
.group-child79 {
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
}
.group-child79,
.group-wrapper747 {
  position: absolute;
  top: 0;
  left: 0;
  width: 806px;
  height: 69.13px;
}
.n-wrapper1,
.n191,
.t9 {
  position: absolute;
  height: 28.8px;
}
.t9 {
  top: 20.16px;
  left: 22px;
  display: inline-block;
  width: 117px;
}
.n-wrapper1,
.n191 {
  width: 112px;
}
.n191 {
  top: 0;
  left: 0;
  display: inline-block;
}
.n-wrapper1 {
  top: 20.16px;
  left: 422px;
}
.room-types-child11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-palevioletred-100);
}
.all13 {
  position: absolute;
  top: 23.81%;
  left: 9.9%;
  display: none;
}
.material-symbolsarrow-drop-do-icon13 {
  position: absolute;
  height: 57.14%;
  width: 23.76%;
  top: 21.43%;
  right: 11.88%;
  bottom: 21.43%;
  left: 64.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.room-types13 {
  position: absolute;
  top: 14.4px;
  left: 139px;
  width: 223px;
  height: 40.33px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.group-child80,
.group-child81,
.group-child82 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child80 {
  height: 58.33%;
  width: 27.67%;
  top: 20.83%;
  right: 2.92%;
  bottom: 20.83%;
  left: 69.42%;
  border-radius: var(--br-8xs);
}
.group-child81,
.group-child82 {
  height: 41.67%;
  width: 3.34%;
  top: 29.17%;
  right: 56.47%;
  bottom: 29.17%;
  left: 40.2%;
}
.group-child82 {
  right: 4.11%;
  left: 92.56%;
}
.div353,
.div354 {
  position: absolute;
  top: 20px;
  left: 571px;
  display: inline-block;
  width: 180px;
  height: 28.8px;
}
.div354 {
  left: 144px;
}
.group-parent8 {
  position: absolute;
  top: 202px;
  left: 1096px;
  width: 806px;
  height: 69.13px;
  text-align: center;
}
.thi-gian-n8 {
  position: absolute;
  top: 280px;
  left: 1001px;
  display: flex;
  align-items: center;
  width: 165px;
  height: 53px;
}
.p249 {
  margin: 0;
}
.txt25 {
  line-break: anywhere;
  width: 100%;
}
.div355,
.div356,
.div357,
.div358,
.div359 {
  position: absolute;
  top: 440px;
  left: 1001px;
  display: flex;
  align-items: center;
  width: 167px;
  height: 69px;
}
.div356,
.div357,
.div358,
.div359 {
  top: 524px;
}
.div357,
.div358,
.div359 {
  top: 701px;
}
.div358,
.div359 {
  top: 615px;
}
.div359 {
  top: 351px;
}
.hd1050300423159,
.hd1050300423160,
.hd10503004231612,
.hd1050300423162,
.hd1050300423163,
.m-ha-n6 {
  position: absolute;
  top: 280px;
  left: 1446px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 53px;
}
.hd1050300423159,
.hd1050300423160,
.hd10503004231612,
.hd1050300423162,
.hd1050300423163 {
  top: 448px;
  left: 1369px;
  text-decoration: underline;
  color: var(--color-snow-100);
  width: 319px;
}
.hd1050300423159,
.hd1050300423160,
.hd10503004231612,
.hd1050300423163 {
  top: 359px;
}
.hd1050300423159,
.hd1050300423160,
.hd10503004231612 {
  top: 533px;
}
.hd1050300423159,
.hd1050300423160 {
  top: 624px;
}
.hd1050300423159 {
  top: 709px;
}
.trang-chu-lich-su-3 {
  position: relative;
  background-color: var(--color-plum-100);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
