.traphong-child {
  position: absolute;
  top: 139px;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-ch-qun-l-phng-child {
  position: absolute;
  top: 110px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 332px;
  height: 970px;
}
.wallpaper-4-icon10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpaper-4-child4 {
  position: absolute;
  height: 13.63%;
  width: 15.42%;
  top: 31.71%;
  right: 60.08%;
  bottom: 54.66%;
  left: 24.5%;
  background-color: var(--color-gainsboro);
  display: none;
}
.trang-ch-qun-l-phng-item,
.wallpaper-46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.trang-ch-qun-l-phng-item {
  background-color: var(--color-lightpink);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 2101px;
  height: 116px;
}
.profile-icon6 {
  position: absolute;
  top: 34px;
  left: 1818px;
  width: 62px;
  height: 62px;
}
.trang-ch-qun-l-phng-inner {
  position: absolute;
  top: 22px;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.nh-ngh-hin8 {
  position: absolute;
  top: 26px;
  left: 35px;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 280px;
  height: 68px;
}
.trang-ch-qun-l-phng-child1 {
  position: absolute;
  top: 148px;
  left: 15px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
  cursor: pointer;
}
.trang-ch-qun-l-phng-child2,
.trang-ch-qun-l-phng-child3,
.trang-ch-qun-l-phng-child4,
.trang-ch-qun-l-phng-child5 {
  position: absolute;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-100);
  width: 298px;
  height: 72px;
}
.trang-ch-qun-l-phng-child2 {
  top: 243px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.trang-ch-qun-l-phng-child3,
.trang-ch-qun-l-phng-child4,
.trang-ch-qun-l-phng-child5 {
  top: 346px;
  cursor: pointer;
}
.trang-ch-qun-l-phng-child4,
.trang-ch-qun-l-phng-child5 {
  top: 446px;
}
.trang-ch-qun-l-phng-child5 {
  top: 542px;
  left: 15px;
}
.qun-l-phng7,
.trang-ch9 {
  position: absolute;
  top: 160px;
  left: 35px;
  font-size: var(--font-size-5xl);
}
.qun-l-phng7 {
  top: 262px;
}
.lch-s7,
.qun-l-doanh6,
.qun-l-khch7,
.qun-l-phng8 {
  position: absolute;
  top: 363px;
  left: 35px;
  font-size: var(--font-size-3xl);
}
.lch-s7,
.qun-l-doanh6,
.qun-l-phng8 {
  top: 465px;
}
.lch-s7,
.qun-l-phng8 {
  top: 562px;
}
.qun-l-phng8 {
  top: 64px;
  left: 375px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
}
.frame-child7 {
  position: absolute;
  top: 11px;
  left: 33px;
  border-radius: var(--br-26xl);
  background-color: var(--color-limegreen);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 247px;
  height: 68px;
}
.frame-child8 {
  position: absolute;
  top: -25px;
  left: 30px;
  width: 250px;
  height: 81px;
  overflow: hidden;
}
.phng-trng {
  position: absolute;
  top: 32px;
  left: 56px;
  display: inline-block;
  width: 254px;
  height: 47px;
}
.rectangle-parent9 {
  position: absolute;
  top: 138px;
  left: 338px;
  width: 283px;
  height: 89px;
  overflow: hidden;
}
.frame-child9 {
  position: absolute;
  top: 10px;
  left: 7px;
  border-radius: var(--br-26xl);
  background-color: var(--color-red);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 234px;
  height: 68px;
}
.ang {
  position: absolute;
  top: 27.61px;
  left: 63.23px;
  display: inline-block;
  width: 175.35px;
  height: 44.58px;
}
.frame-child10,
.rectangle-parent10 {
  position: absolute;
  top: 52px;
  left: 337px;
  width: 300px;
  height: 92px;
  overflow: hidden;
}
.rectangle-parent10 {
  top: 138px;
  left: 695px;
  width: 390px;
}
.frame-child11 {
  position: absolute;
  top: 11px;
  left: 33px;
  border-radius: var(--br-26xl);
  background-color: var(--color-orange);
  border: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 247px;
  height: 68px;
}
.frame-child12 {
  position: absolute;
  top: -25px;
  left: -18px;
  width: 250px;
  height: 81px;
  overflow: hidden;
}
.t-3 {
  position: absolute;
  top: 32px;
  left: 88px;
  display: inline-block;
  width: 254px;
  height: 47px;
}
.rectangle-parent11 {
  position: absolute;
  top: 138px;
  left: 1012px;
  width: 283px;
  height: 89px;
  overflow: hidden;
}
.frame-child13,
.frame-child14 {
  position: absolute;
  border-radius: var(--br-6xs);
}
.frame-child13 {
  top: 14px;
  left: 15px;
  background-color: var(--color-limegreen);
  width: 95px;
  height: 109px;
}
.frame-child14 {
  top: 15px;
  left: 110px;
  width: 278px;
  height: 108px;
}
.phng-trng1 {
  position: absolute;
  top: 55px;
  left: 119px;
  line-height: 25px;
  display: inline-block;
  width: 194px;
  height: 27px;
}
.n2 {
  line-height: 25px;
  color: var(--color-black);
}
.n-303 {
  position: absolute;
  top: 42px;
  left: 37px;
  font-size: 23.78px;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-wrapper,
.rectangle-parent12 {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.frame-wrapper {
  top: 16px;
  left: 4px;
  border-radius: var(--br-3xs);
  width: 396px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.frame-child15 {
  position: absolute;
  top: 21px;
  left: 23px;
  background-color: var(--color-orange);
  width: 95px;
  height: 109px;
}
.div88,
.frame-child16,
.n-103 {
  position: absolute;
  top: 21px;
  left: 113px;
  width: 175px;
  height: 109px;
}
.div88,
.n-103 {
  top: 39px;
  left: 45px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.div88 {
  top: 36px;
  left: 129px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  width: 159px;
  height: 53px;
}
.rectangle-parent13 {
  position: absolute;
  top: 12px;
  left: 938px;
  width: 345px;
  height: 146px;
  overflow: hidden;
}
.frame-child17,
.frame-child18 {
  position: absolute;
  top: 14px;
  height: 109px;
}
.frame-child17 {
  left: 7px;
  border-radius: var(--br-6xs);
  background-color: var(--color-red);
  width: 103px;
}
.frame-child18 {
  left: 110px;
  border-radius: var(--br-3xs);
  width: 269px;
}
.div89 {
  position: absolute;
  top: 56px;
  left: 124px;
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.i {
  margin: 0;
}
.i-304 {
  position: absolute;
  top: 39px;
  left: 22px;
  font-size: 23.78px;
  line-height: 25px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.frame-container,
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 18px;
  width: 1436px;
  height: 139px;
  overflow: hidden;
}
.frame-container {
  top: 8px;
  left: 39px;
  border-radius: var(--br-3xs);
  width: 397px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-child23,
.frame-child24 {
  position: absolute;
  top: 14px;
  border-radius: var(--br-6xs);
  height: 109px;
}
.frame-child23 {
  left: 15px;
  background-color: var(--color-red);
  width: 95px;
}
.frame-child24 {
  left: 110px;
  width: 318px;
}
.div92,
.n-101 {
  position: absolute;
  top: 32px;
  left: 37px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.div92 {
  top: 56px;
  left: 124px;
  line-height: 25px;
  color: var(--color-black);
  width: 313px;
  height: 49px;
}
.frame-wrapper1 {
  position: absolute;
  top: 12px;
  left: 34px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
}
.frame-group,
.frame-parent,
.frame-parent1,
.frame-parent2 {
  position: absolute;
  top: 0;
  left: 368px;
  width: 522px;
  height: 147px;
  overflow: hidden;
}
.frame-group,
.frame-parent,
.frame-parent1 {
  left: 464px;
  width: 396px;
}
.frame-group,
.frame-parent {
  top: 13px;
  left: 366px;
  width: 436px;
  height: 129px;
}
.frame-parent {
  top: 835px;
  left: 317px;
  width: 822px;
  height: 164px;
}
.p39 {
  margin: 0;
  color: var(--color-white);
}
.frame-child32 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 110px;
}
.div96 {
  position: absolute;
  top: 49px;
  left: 131px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.rectangle-parent21,
.trang-ch-qun-l-phng-inner1 {
  position: absolute;
  top: 0;
  left: -13px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner1 {
  top: 693px;
  left: 346px;
  border-radius: var(--br-3xs);
  width: 374px;
  color: var(--color-black);
}
.frame-child34 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 283px;
  height: 109px;
}
.i2 {
  margin: 0;
  line-height: 25px;
}
.phng-trng2 {
  position: absolute;
  top: 53px;
  left: 119px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-limegreen);
  display: inline-block;
  width: 194px;
  height: 27px;
}
.rectangle-parent22,
.trang-ch-qun-l-phng-inner2 {
  position: absolute;
  top: 0;
  left: -13px;
  width: 446px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner2 {
  top: 856px;
  left: 1137px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 121px;
  color: var(--color-black);
}
.frame-child36 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 279px;
  height: 109px;
}
.phng-trng3 {
  position: absolute;
  top: 48px;
  left: 115px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-limegreen);
  display: inline-block;
  width: 313px;
  height: 49px;
}
.trang-ch-qun-l-phng-inner3 {
  position: absolute;
  top: 691px;
  left: 743px;
  border-radius: var(--br-3xs);
  width: 373px;
  height: 123px;
  overflow: hidden;
  color: var(--color-black);
}
.frame-child38 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 282px;
  height: 109px;
}
.div97 {
  position: absolute;
  top: 48px;
  left: 115px;
  font-size: var(--font-size-xl);
  line-height: 25px;
  color: var(--color-black);
  display: inline-block;
  width: 313px;
  height: 49px;
}
.trang-ch-qun-l-phng-inner4 {
  position: absolute;
  top: 528px;
  left: 743px;
  border-radius: var(--br-3xs);
  width: 373px;
  height: 128px;
  overflow: hidden;
}
.frame-child39 {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: var(--br-6xs);
  background-color: var(--color-orange);
  width: 95px;
  height: 109px;
}
.div98,
.n-301 {
  position: absolute;
  display: inline-block;
}
.div98 {
  top: 48px;
  left: 115px;
  line-height: 25px;
  width: 313px;
  height: 49px;
}
.n-301 {
  top: 39px;
  left: 37px;
  font-size: 23.78px;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.div99,
.trang-ch-qun-l-phng-inner5 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.trang-ch-qun-l-phng-inner5 {
  top: 691px;
  left: 1137px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
  color: var(--color-black);
}
.div99 {
  top: 48px;
  left: 115px;
  line-height: 25px;
  display: inline-block;
  width: 313px;
  height: 49px;
}
.rectangle-parent26,
.trang-ch-qun-l-phng-inner6 {
  position: absolute;
  top: 0;
  left: -14px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner6 {
  top: 693px;
  left: 1536px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 121px;
  color: var(--color-black);
}
.frame-child44 {
  position: absolute;
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 272px;
  height: 109px;
}
.rectangle-parent27 {
  position: absolute;
  top: 13px;
  left: -13px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner7,
.trang-ch-qun-l-phng-inner8 {
  position: absolute;
  top: 516px;
  left: 348px;
  border-radius: var(--br-3xs);
  width: 369px;
  height: 165px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.trang-ch-qun-l-phng-inner8 {
  top: 523px;
  left: 1139px;
  width: 463px;
  color: var(--color-black);
}
.n-203 {
  position: absolute;
  top: 35px;
  left: 37px;
  font-size: 23.78px;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.trang-ch-qun-l-phng-inner9 {
  position: absolute;
  top: 526px;
  left: 1538px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.n-102 {
  position: absolute;
  top: 32px;
  left: 24px;
  font-size: 23.78px;
  white-space: pre-wrap;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-child51,
.frame-parent4 {
  position: absolute;
  overflow: hidden;
}
.frame-parent4 {
  top: 351px;
  left: 737px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-child51 {
  top: 220px;
  left: 8px;
  width: 103px;
  height: 111px;
}
.frame-child54 {
  top: 14px;
  left: 110px;
  border-radius: var(--br-6xs);
  width: 273px;
  height: 109px;
}
.div102,
.frame-child54,
.n-1012 {
  position: absolute;
}
.div102 {
  top: 48px;
  left: 115px;
  line-height: 25px;
}
.n-1012 {
  top: 31px;
  left: 42px;
  font-size: 23.78px;
  display: inline-block;
  width: 73px;
  height: 66px;
  color: var(--color-white);
}
.frame-parent5,
.frame-wrapper3 {
  position: absolute;
  overflow: hidden;
}
.frame-wrapper3 {
  top: 44px;
  left: 8px;
  border-radius: var(--br-3xs);
  width: 379px;
  height: 165px;
  cursor: pointer;
}
.frame-parent5 {
  top: 309px;
  left: 335px;
  width: 404px;
  height: 231px;
  font-size: var(--font-size-xl);
  color: var(--color-limegreen);
}
.n-1035 {
  position: absolute;
  top: 36px;
  left: 37px;
  display: inline-block;
  width: 73px;
  height: 66px;
}
.rectangle-parent32 {
  position: absolute;
  top: -9px;
  left: -15px;
  width: 1498px;
  height: 139px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner10,
.trang-ch-qun-l-phng-inner11 {
  position: absolute;
  top: 359px;
  left: 1140px;
  border-radius: var(--br-3xs);
  width: 463px;
  height: 165px;
  overflow: hidden;
}
.trang-ch-qun-l-phng-inner11 {
  top: 350px;
  left: 1541px;
  color: var(--color-black);
}
.trang-ch-qun-l-phng-child6 {
  position: absolute;
  top: 134px;
  left: 1592px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palevioletred-300);
  border: 3px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 296px;
  height: 112px;
  cursor: pointer;
}
.gi-phng {
  position: absolute;
  top: 176px;
  left: 1658px;
  font-size: var(--font-size-11xl);
  line-height: 25px;
  display: inline-block;
  width: 166px;
  height: 35px;
}
.trang-ch-qun-l-phng {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.traphong {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: 23.78px;
  color: var(--color-white);
  font-family: var(--font-lexend);
}
